<routes lala="12">
    <pages>

        <page urn="home/application/create1">
            <files>
                <dir path="/home/application/controllers/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/home/application/controllers/" ext=".html">
                    <file name="header" />
                </dir>
                <dir path="/home/application/views/" ext=".php">
                    <file name="header" />
                    <file name="header1" />
                    <file name="header2" />
                </dir>
            </files>
            <callbacks>
                <namespace name="\Classes\DocumentParameters">
                    <class name="ActionPage" type="instance">
                        <method name="defineDocumentParameters"/>
                    </class>
                </namespace>
            </callbacks>
            <files>
                <dir path="/home/application/controllers/" ext=".php">
                    <file name="header444" />
                </dir>
            </files>
            <files>
                <dir path="/home/application/controllers/" ext=".php">
                    <file name="header444" />
                </dir>
                <dir path="/home/application/controllers/" ext=".php">
                    <file name="header445">

                    </file>
                </dir>
            </files>
        </page>

        <page urn="home/application/create22">
            <files>
                <dir path="/home/application/controllers/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/home/application/controllers/" ext=".html">
                    <file name="header" />
                </dir>
                <dir path="/home/application/views/" ext=".php">
                    <file name="header" />
                    <file name="header1" />
                    <file name="header2" />
                </dir>
            </files>


            <callbacks>
                <namespace name="\Classes\DocumentParameters">
                    <class name="ActionPage" type="instance">
                        <method name="defineDocumentParameters"/>
                    </class>
                </namespace>
            </callbacks>


        </page>

    </pages>

    <pages hey="12">
    </pages>
    <pages>
    </pages>

    <lala>

    </lala>
</routes>

