<routes>
    <pages>

        <page urn="">
            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="html_head" />
                    <file name="login" />
                </dir>
                <dir path="/views/" ext=".php">
                    <file name="html_head" />
                    <file name="login" />
                </dir>
                <dir path="/views/home/modals/" ext=".php">
                    <file name="static_error" />
                    <file name="error" />
                </dir>
            </files>
        </page>

        <page urn="API_login">
            <files>
                <dir path="/API/" ext=".php">
                    <file name="login" />
                </dir>
            </files>
        </page>

        <page urn="home/file_unloader">
            <files>
                <dir path="/controllers/home/" ext=".php">
                    <file name="file_unloader" />
                </dir>
            </files>
        </page>

        <page urn="home/API_file_uploader">
            <files>
                <dir path="/API/home/" ext=".php">
                    <file name="file_uploader" />
                </dir>
            </files>
        </page>

        <page urn="home/API_file_checker">
            <files>
                <dir path="/API/home/" ext=".php">
                    <file name="file_checker" />
                </dir>
            </files>
        </page>

        <page urn="home/API_file_needs_setter">
            <files>
                <dir path="/API/home/" ext=".php">
                    <file name="file_needs_setter" />
                </dir>
            </files>
        </page>


        <page urn="home/API_get_file_hash">
            <files>
                <dir path="/API/home/" ext=".php">
                    <file name="get_file_hash" />
                </dir>
            </files>
        </page>

        <page urn="home/API_external_signature_verifier">
            <files>
                <dir path="/API/home/" ext=".php">
                    <file name="external_signature_verifier" />
                </dir>
            </files>
        </page>

        <page urn="home/API_internal_signature_verifier">
            <files>
                <dir path="/API/home/" ext=".php">
                    <file name="internal_signature_verifier" />
                </dir>
            </files>
        </page>

        <page urn="home/API_navigation_cookie">
            <files>
                <dir path="/API/home/" ext=".php">
                    <file name="navigation_cookie" />
                </dir>
            </files>
        </page>

        <page urn="home/API_action_executor">

            <callback_template id="DocumentParameters_APIActionExecutor" />

            <files>
                <dir path="/API/home/" ext=".php">
                    <file name="action_executor" />
                </dir>
            </files>
        </page>

        <page urn="home/application/API_save_form">
            <files>
                <dir path="/API/home/application/" ext=".php">
                    <file name="save_form" />
                </dir>
            </files>
        </page>

        <page urn="home/documentation_structure">
            <files>
                <dir path="/controllers/home/" ext=".php">
                    <file name="documentation_structure" />
                </dir>
            </files>
        </page>

        <page urn="files_in_documentation">
            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="files_in_documentation" />
                </dir>
            </files>
        </page>

        <page urn="test">
            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="test" />
                </dir>
            </files>
        </page>

        <page urn="home/application/create">

            <callback_template id="AuthorizationChecker" />

            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/controllers/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/controllers/home/application/" ext=".php">
                    <file name="create" />
                </dir>

                <dir path="/views/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/views/home/application/" ext=".php">
                    <file name="application_dependencies" />
                    <file name="create" />
                </dir>
                <dir path="/views/home/modals/" ext=".php">
                    <file name="calendar" />
                    <file name="file_upload" />
                    <file name="create_sign" />
                    <file name="error" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="footer" />
                </dir>
            </files>
        </page>

        <!-- На странице используется динамическое подключение файлов -->
        <!-- см. /controllers/home/navigation.php -->
        <page urn="home/navigation">

            <callback_template id="AuthorizationChecker" />

            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/controllers/home/" ext=".php">
                    <file name="header" />
                </dir>

                <dir path="/views/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/controllers/home/" ext=".php">
                    <file name="navigation" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="footer" />
                </dir>
                <dir path="/views/home/modals/" ext=".php">
                    <file name="static_error" />
                </dir>
            </files>
        </page>

        <page urn="home/expertise_cards/application/view">

            <callback_template id="AuthorizationChecker" />
            <callback_template id="DocumentParameters_ExpertiseCard" />
            <callback_template id="DocumentExistChecker" />
            <callback_template id="AccessToDocumentTreeChecker" />

            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/controllers/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/controllers/home/expertise_cards/sidebars/" ext=".php">
                    <file name="info" />
                    <file name="hierarchy" />
                </dir>
                <dir path="/controllers/home/expertise_cards/documents/application/" ext=".php">
                    <file name="view" />
                    <file name="validation_block_application_form" />
                </dir>
                <dir path="/controllers/home/expertise_cards/sidebars/" ext=".php">
                    <file name="actions" />
                </dir>

                <dir path="/views/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/views/home/expertise_cards/sidebars/" ext=".php">
                    <file name="hierarchy" />
                </dir>
                <dir path="/views/home/expertise_cards/documents/application/" ext=".php">
                    <file name="view" />
                </dir>
                <dir path="/views/home/expertise_cards/sidebars/" ext=".php">
                    <file name="actions" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="footer" />
                </dir>
                <dir path="/views/home/modals/" ext=".php">
                    <file name="view_sign" />
                    <file name="error" />
                </dir>
            </files>
        </page>

        <page urn="home/expertise_cards/total_cc/view">

            <callback_template id="AuthorizationChecker" />
            <callback_template id="DocumentParameters_ExpertiseCard" />
            <callback_template id="DocumentExistChecker" />
            <callback_template id="AccessToDocumentTreeChecker" />

            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/controllers/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/controllers/home/expertise_cards/sidebars/" ext=".php">
                    <file name="info" />
                    <file name="hierarchy" />
                </dir>
                <dir path="/controllers/home/expertise_cards/documents/total_cc/" ext=".php">
                    <file name="view" />
                </dir>
                <dir path="/controllers/home/expertise_cards/sidebars/" ext=".php">
                    <file name="actions" />
                </dir>

                <dir path="/views/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/views/home/expertise_cards/sidebars/" ext=".php">
                    <file name="hierarchy" />
                </dir>
                <dir path="/views/home/expertise_cards/documents/total_cc/" ext=".php">
                    <file name="view" />
                </dir>
                <dir path="/views/home/expertise_cards/sidebars/" ext=".php">
                    <file name="actions" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="footer" />
                </dir>

            </files>
        </page>

        <page urn="home/expertise_cards/section_documentation_1/view">

            <callback_template id="AuthorizationChecker" />
            <callback_template id="DocumentParameters_ExpertiseCard" />
            <callback_template id="DocumentExistChecker" />
            <callback_template id="AccessToDocumentTreeChecker" />

            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/controllers/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/controllers/home/expertise_cards/sidebars/" ext=".php">
                    <file name="info" />
                    <file name="hierarchy" />
                </dir>
                <dir path="/controllers/home/expertise_cards/documents/section/" ext=".php">
                    <file name="view" />
                </dir>
                <dir path="/controllers/home/expertise_cards/sidebars/" ext=".php">
                    <file name="actions" />
                </dir>

                <dir path="/views/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/views/home/expertise_cards/sidebars/" ext=".php">
                    <file name="hierarchy" />
                </dir>
                <dir path="/views/home/expertise_cards/documents/section/" ext=".php">
                    <file name="view" />
                </dir>
                <dir path="/views/home/expertise_cards/sidebars/" ext=".php">
                    <file name="actions" />
                </dir>
                <dir path="/views/home/modals/" ext=".php">
                    <file name="error" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="footer" />
                </dir>

            </files>
        </page>

        <page urn="home/expertise_cards/application/actions/action_2">

            <callback_template id="AuthorizationChecker" />
            <callback_template id="DocumentParameters_ActionPage" />
            <callback_template id="DocumentExistChecker" />
            <callback_template id="AccessToDocumentTreeChecker" />
            <callback_template id="ActionChecker" />

            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/controllers/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/controllers/home/expertise_cards/documents/application/actions/" ext=".php">
                    <file name="action_2" />
                </dir>

                <dir path="/views/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/views/home/expertise_cards/documents/application/actions/" ext=".php">
                    <file name="action_2" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="footer" />
                </dir>
                <dir path="/views/home/modals/" ext=".php">
                    <file name="view_sign" />
                    <file name="error" />
                </dir>
            </files>
        </page>

        <page urn="home/test">
            <callbacks>
                <namespace name="\Classes\RouteCallbacks\DocumentParameters">
                    <class name="ActionPage" type="instance">
                        <method name="defineDocumentParameters"/>
                    </class>
                </namespace>
            </callbacks>
            <callback_template id="3" />
        </page>

        <page urn="home/test_1">
            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/views/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/controllers/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="header" />
                    <file name="test_1" />
                    <file name="footer" />
                </dir>
            </files>
        </page>

        <page urn="home/expertise_cards/section_documentation_1/actions/action_1">

            <callback_template id="AuthorizationChecker" />
            <callback_template id="DocumentParameters_ActionPage" />
            <callback_template id="DocumentExistChecker" />
            <callback_template id="AccessToDocumentTreeChecker" />
            <callback_template id="ActionChecker" />

            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/controllers/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/controllers/home/expertise_cards/documents/section/actions/" ext=".php">
                    <file name="action_1" />
                </dir>

                <dir path="/views/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/views/home/expertise_cards/documents/section/actions/" ext=".php">
                    <file name="action_1" />
                </dir>
                <dir path="/views/home/expertise_cards/documents/total_cc/actions/" ext=".php">
                    <file name="action_1_dependencies" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="footer" />
                </dir>
                <dir path="/views/home/modals/" ext=".php">
                    <file name="error" />
                </dir>
            </files>
        </page>



        <page urn="home/expertise_cards/total_cc/actions/action_1">

            <callback_template id="AuthorizationChecker" />
            <callback_template id="DocumentParameters_ActionPage" />
            <callback_template id="DocumentExistChecker" />
            <callback_template id="AccessToDocumentTreeChecker" />
            <callback_template id="ActionChecker" />

            <files>
                <dir path="/controllers/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/controllers/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/controllers/home/expertise_cards/documents/total_cc/actions/" ext=".php">
                    <file name="action_1" />
                </dir>

                <dir path="/views/" ext=".php">
                    <file name="html_head" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="header" />
                </dir>
                <dir path="/views/home/expertise_cards/documents/total_cc/actions/" ext=".php">
                    <file name="action_1" />
                </dir>
                <dir path="/views/home/" ext=".php">
                    <file name="footer" />
                </dir>
                <dir path="/views/home/expertise_cards/documents/total_cc/actions/" ext=".php">
                    <file name="action_1_dependencies" />
                </dir>
                <dir path="/views/home/modals/" ext=".php">
                    <file name="error" />
                </dir>
            </files>
        </page>

        <page urn="registration_user">

            <files>
                <dir path="/controllers/tmp/" ext=".php">
                    <file name="registration_user" />
                </dir>
            </files>
        </page>

    </pages>


    <callback_templates>

        <!-- Блок DocumentParameters_* определяет константы для открытого документа -->

        <!-- Страница открытого действия -->
        <template id="DocumentParameters_ActionPage">
            <callbacks>
                <namespace name="\Classes\RouteCallbacks\DocumentParameters">
                    <class name="ActionPage" type="instance">
                        <method name="defineDocumentParameters" />
                    </class>
                </namespace>
            </callbacks>
        </template>

        <!-- Страница открытого документа из карточек экспертизы -->
        <template id="DocumentParameters_ExpertiseCard">
            <callbacks>
                <namespace name="\Classes\RouteCallbacks\DocumentParameters">
                    <class name="ExpertiseCard" type="instance">
                        <method name="defineDocumentParameters" />
                    </class>
                </namespace>
            </callbacks>
        </template>

        <!-- API выполнения действий -->
        <template id="DocumentParameters_APIActionExecutor">
            <callbacks>
                <namespace name="\Classes\RouteCallbacks\DocumentParameters">
                    <class name="APIActionExecutor" type="instance">
                        <method name="defineDocumentParameters"/>
                    </class>
                </namespace>
            </callbacks>
        </template>

        <!-- Проверяет авторизацию пользователя -->
        <template id="AuthorizationChecker">
            <callbacks>
                <namespace name="\Classes\RouteCallbacks">
                    <class name="AuthorizationChecker" type="instance">
                        <method name="checkAuthorization"/>
                    </class>
                </namespace>
            </callbacks>
        </template>

        <!-- Проверяет существование открытого документа -->
        <template id="DocumentExistChecker">
            <callbacks>
                <namespace name="\Classes\RouteCallbacks">
                    <class name="DocumentExistChecker" type="instance">
                        <method name="construct"/>
                        <method name="checkDocumentExist"/>
                    </class>
                </namespace>
            </callbacks>
        </template>

        <!-- Проверяет доступ пользователя к текущему документу с учетом всего дерева наследования -->
        <template id="AccessToDocumentTreeChecker">
            <callbacks>
                <namespace name="\Classes\RouteCallbacks">
                    <class name="AccessToDocumentTreeChecker" type="instance">
                        <method name="construct"/>
                        <method name="checkAccessToDocumentTree"/>
                    </class>
                </namespace>
            </callbacks>
        </template>

        <!--  -->
        <template id="ActionChecker">
            <callbacks>
                <namespace name="\Classes\RouteCallbacks">
                    <class name="ActionChecker" type="instance">
                        <method name="construct"/>
                        <method name="checkAccess"/>
                        <method name="checkIssetExecutionCallback"/>
                    </class>
                </namespace>
            </callbacks>
        </template>

    </callback_templates>
</routes>

