@font-face {
    font-family: 'PT_Sans_Narrow';
    src: url('/views/css/fonts/PT_Sans_Narrow.ttf');
}

.font-test{
    font-family: 'PT_Sans_Narrow', sans-serif;;
}

.form-login {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/

    text-align: center;

    align-self: center;

    margin: 100px 0px 0px 0px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
}

.form-login__title {
    margin: 20px 0px;
    font-size: 22px;
}

.form-login__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-login__input {
    /*width: 100px;*/
    margin: 0px 0px 10px 0px;
}

.form-login__button {
    margin: 0px 0px 20px 0px;

}

.form-login__error {
    display: none;
}

