.view__object,
.view__header,
.info__item,
.view__hierarchy,
.view__actions {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
}

.view__object {
   padding: 10px 10px 10px 20px;
   margin: 0px 0px 10px 0px;
   text-align: center;
}

.view__header {
   padding: 15px 20px;
   margin: 0px 0px 10px 0px;
}

.view__title {
   font-family: 'Bebas Neue', sans-serif;
   font-size: 20px;
}

.view__container {
   display: flex;
   flex-grow: 1;
}

.view__sidebar {
   width: 15%;
   margin: 0px 10px 0px 0px;
}

.info {
   display: flex;
   flex-direction: column;
   margin: 0px 0px 5px 0px;
}

.info__item {
   display: flex;
   align-items: center;
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   margin: 0px 0px 5px 0px;
   padding: 10px;
}

.info__icon {
   /*color: #6e6e6e;*/
   color: #6081a8;;
   margin: 0px 10px 0px 0px;
   font-size: 18px;

}

.info__description {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   font-size: 14px;
}

.info__title {
   color: #6e6e6e;
}

.info__label {
   font-weight: 700;
}

.view__hierarchy,
.view__actions {
   align-self: flex-start;
   cursor: pointer;
}

.hierarchy__section {
   border-left: 4px solid #ffffff;
   padding: 7px 10px;
   /*transition: background-color, border-color .1s;*/
   /*todo убрать при загрузке страницы*/
   transition: background-color .1s;
}

.hierarchy__section[data-selected='1'] {
   background-color: #f6f8fa;
   /*border-color: #B5C5D7;*/
   border-color: #b2cde9;
}

.hierarchy__section:hover {
   /*background-color: #f2f2f2;*/
   background-color: #F3F5F6;
   /*border-color: #ffd354;*/
   border-color: #93b0d1;
}

.hierarchy__section:first-child {
   border-radius: 4px 4px 0px 0px;
}

.hierarchy__section:last-child {
   border-radius: 0px 0px 4px 4px;
}

.hierarchy__section:nth-child(1):last-child {
   border-radius: 4px;
}

.hierarchy__item {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.hierarchy__item[data-depth='1'] {
   padding-left: 10px;
}

.hierarchy__item[data-depth='2'] {
   padding-left: 20px;
}

.hierarchy__text {
   font-size: 14px;
   color: #6e6e6e;
}

.hierarchy__description {
   display: flex;
   flex-direction: column;
   margin: 0px 0px 0px 11px;
   font-size: 14px;
   color: #6e6e6e;
}

.view__body {
   width: 70%;
}

.view__actions {
   width: 15%;
   margin: 0px 0px 0px 10px;
}

.view__action {
   display: block;
   padding: 10px 15px;
   font-size: 16px;
   border-right: 4px solid #ffffff;

   /*transition: background-color, border-color .1s;*/
   /*todo убрать при загрузке страницы*/
   transition: background-color .1s;
}

.view__action:hover {
   /*background-color: #f2f2f2;*/
   background-color: #F3F5F6;
   /*border-color: #ffd354;*/
   border-color: #93b0d1;
}

.view__action:first-child {
   border-radius: 4px 4px 0px 0px;
}

.view__action:last-child {
   border-radius: 0px 0px 4px 4px;
}

.view__action:last-child:first-child {
   border-radius: 4px;
}

.hierarchy__info {
   padding: 10px 20px;
}

.hierarchy__stage {
   /*display: flex;*/
   /*align-items: center;*/
   /*font-style: italic;*/

}

.hierarchy__experts {
   display: flex;
   flex-direction: column;
   align-self: flex-start;
   font-size: 14px;
   color: #6e6e6e;
   /*background-color: #E3EFFF;*/
   /*background-color: #f6f8fa;*/
   background-color: #f0f6fd;
   border: 1px solid #CAD6E7;
   color: #6A7E9A;
   border-radius: 4px;
   padding: 5px;

}

.hierarchy__icon-stage {
   font-size: 8px;
   margin: 0px 5px 0px 0px;
   color: #6C89A8;
}

.hierarchy__experts-title {
   /*font-style: italic;*/
}




























.qwe {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   flex-grow: 1;
}




