.action-info {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);

}

.action-info {
   font-size: 16px;
   margin: 0px 0px 10px;

   padding: 10px 20px;
}

.form-field__input {
   /*font-size: 16px;*/
}

.card-form__list {
   border: 1px solid #818e9a;
   border-radius: 4px;

   display: flex;
   flex-direction: column;
   transition: box-shadow 0.1s;
}

.card-form__list:hover {
   border-color: #80bdff;
   box-shadow: 0px 0px 0px 3px rgba(191, 222, 255, 1);
}

.card-form__list.filled {
   background-color: #f9fafe;
}


.card-form__cell {
   border: 0;
   border-radius: 0;
}

.card-form__cell:not(:last-child) {
   border-bottom: 1px solid #818e9a;

}

.card-form__cell:first-child {
   border-radius: 4px 4px 0px 0px;

}

.card-form__cell:last-child {
   border-radius: 0px 0px 4px 4px;
}

.card-form__cell:hover,
.card-form__cell:focus {
   box-shadow: none;

}

.section {
   border: 1px solid #e0e0e0;
   /* min-width: 25%; */
   border-left: 3px solid #93b0d1;
   /* flex-direction: column; */
   /* align-self: center; */
   /* border-left: 3px solid #93b0d1; */
   /* box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2); */
   border-radius: 4px;
   display: flex;
   font-size: 16px;
   margin: 20px;
}

.section[data-required='true'] .section__header::after {
   color: #bd4949;
   content: '*';
}

.section__header {
   align-items: center;
   background-color: #f6f8fa;
   border-right: 1px solid #e0e0e0;
   display: flex;
   /*justify-content: space-between;*/
   /* border-bottom: 1px solid #e0e0e0; */
   /* font-weight: 700; */
   padding: 10px;
}

/*.section__title {
   display: flex;
   align-items: center;
}*/

.section__icon-info {
   color: #2E4357;

}




.section__icon-state {
   color: #2E4357;
}

.section__item {
   padding: 10px;
}

.section__item:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.section__body {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.section__input {
   border: 0;
   /*padding: 10px;*/
   border-radius: 0px;
   flex-grow: 1;
   transition: background-color 0.1s;
}

.section__input:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.section__input:first-child {
   border-radius: 0px 4px 0px 0px;
}

.section__input:last-child {
   border-radius: 0px 0px 4px 0px;
}

.section__input:first-child:last-child {
   border-radius: 0px 4px 4px 0px;
}

.section__input:hover,
.section__input:focus {
   background-color: #f6f8fa;
   /*border-color: #A3A8B6;*/
   box-shadow: none;
}

.card-form__body {
   display: flex;
   flex-direction: column;
}

.multiple__part {
   border: 1px solid #e0e0e0;
   border-radius: 4px;
   display: flex;
   /*padding: 10px;*/
   flex-direction: column;
   margin: 10px 20px;
}

.multiple__actions {
   border-top: 1px solid #e0e0e0;
}


.multiple__title {
   background-color: #f6f8fa;
   border-bottom: 1px solid #e0e0e0;
   border-radius: 4px 4px 0px 0px;
   font-weight: 700;
   padding: 10px 15px;
}

.multiple__actions {
   background-color: #f6f8fa;
   display: flex;
   justify-content: space-between;
   padding: 10px 15px;

}


.view-table {
   border: 1px solid #e0e0e0;
   /*border-radius: 4px;*/
   margin: 0px 10px;
   /*border-left: 3px solid #93b0d1;*/
}

.view-table:first-child > .view-table__header {
   border-radius: 4px 4px 0px 0px;
}

.view-table:last-child {
   border-radius: 0px 0px 4px 4px;
}


.view-table__header {
   align-items: center;
   background-color: #f6f8fa;
   /*border-bottom: 1px solid #e0e0e0;*/
   /*border-radius: 4px 4px 0px 0px;*/
   display: flex;
   justify-content: space-between;
   padding: 10px;
   border-bottom: 2px solid #93b0d1;

}

.view-table__title {
   /*font-weight: 700;*/
   margin: 0px 10px 0px 0px;
}

.view-table__icon {
   margin: 0px 10px 0px 0px;
   color: #1c3959;
}

.view-table__row {
   display: flex;
   /*padding: 10px;*/
}

.view-table__row:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.view-table__label {
   /*padding: 0px 10px 0px 0px;*/
   border-right: 1px solid #e0e0e0;
   padding: 10px;
   width: 25%;
}

.view-table__value {
   padding: 10px;
}












































