.action__info {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);

}

.action__info {
   padding: 10px 20px;
   margin: 0px 0px 10px;

   font-size: 16px;
}

.application-field__input {
   /*font-size: 16px;*/
}

.body-card__list {
   border: 1px solid #818e9a;
   border-radius: 4px;

   display: flex;
   flex-direction: column;
   transition: box-shadow 0.1s;
}

.body-card__list:hover {
   box-shadow: 0px 0px 0px 3px rgba(191, 222, 255, 1);
   border-color: #80bdff;
}

.body-card__list.filled {
   background-color: #f9fafe;
}


.body-card__cell {
   border: 0;
   border-radius: 0;
}

.body-card__cell:not(:last-child) {
   border-bottom: 1px solid #818e9a;

}

.body-card__cell:first-child {
   border-radius: 4px 4px 0px 0px;

}

.body-card__cell:last-child {
   border-radius: 0px 0px 4px 4px;
}

.body-card__cell:hover,
.body-card__cell:focus {
   box-shadow: none;

}

.section {
   margin: 20px;
   /* min-width: 25%; */
   display: flex;
   /* flex-direction: column; */
   /* align-self: center; */
   /* border-left: 3px solid #93b0d1; */
   /* box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2); */
   font-size: 16px;
   border-radius: 4px;
   border: 1px solid #e0e0e0;
   border-left: 3px solid #93b0d1;
}

.section[data-required='true'] .section__header::after {
   content: '*';
   color: #bd4949;
}

.section__header {
   padding: 10px;
   display: flex;
   align-items: center;
   border-right: 1px solid #e0e0e0;
   /*justify-content: space-between;*/
   /* border-bottom: 1px solid #e0e0e0; */
   /* font-weight: 700; */
   background-color: #f6f8fa;
}

/*.section__title {
   display: flex;
   align-items: center;
}*/

.section__icon-info {
   color: #2E4357;

}




.section__icon-state {
   color: #2E4357;
}

.section__item {
   padding: 10px;
}

.section__item:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.section__body {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}

.section__input {
   flex-grow: 1;
   /*padding: 10px;*/
   border: 0;
   border-radius: 0px;
   transition: background-color 0.1s;
}

.section__input:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.section__input:first-child {
   border-radius: 0px 4px 0px 0px;
}

.section__input:last-child {
   border-radius: 0px 0px 4px 0px;
}

.section__input:first-child:last-child {
   border-radius: 0px 4px 4px 0px;
}

.section__input:hover,
.section__input:focus {
   background-color: #f6f8fa;
   /*border-color: #A3A8B6;*/
   box-shadow: none;
}


.card-form__body {
   display: flex;
   flex-direction: column;
}

















