.view__object,
.view__header,
.info__item,
.view__hierarchy {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   overflow: hidden;
}

.view__object {
   margin: 0 0 10px 0;
   padding: 10px 10px 10px 20px;
   text-align: center;
}

.view__header {
   margin: 0 0 10px 0;
   padding: 15px 20px;
}

.view__title {
   font-family: 'Bebas Neue', sans-serif;
   font-size: 20px;
}

.view__container {
   display: flex;
   flex-grow: 1;
}

.view__sidebar {
   /*width: 15%;*/
   /*todo придумать что-то с шириной*/
   margin: 0 10px 10px 0;
   max-width: 250px;
   /*width: 250px;*/
   min-width: 250px;
}

.info {
   display: flex;
   flex-direction: column;
   margin: 0 0 5px 0;
}

.info__item {
   align-items: center;
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   display: flex;
   margin: 0 0 5px 0;
   padding: 10px;
}

.info__icon {
   color: #6081a8;;
   font-size: 18px;
   margin: 0 10px 0 0;

}

.info__description {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   font-size: 14px;
}

.info__title {
   color: #6e6e6e;
}

.info__label {
   font-weight: 700;
}

.view__hierarchy,
.view-actions {
   align-self: flex-start;
   cursor: pointer;
}

.hierarchy__section {
   border-left: 4px solid #fff;
   padding: 7px 10px;
   /*transition: background-color, border-color .1s;*/
   /*todo убрать при загрузке страницы*/
   transition: background-color .1s;
}

.hierarchy__section[data-selected='1'] {
   background-color: #f6f8fa;
   border-color: #b2cde9;
}

.hierarchy__section:hover {
   background-color: #f3f5f6;
   border-color: #93b0d1;
}

.hierarchy__section:first-child {
   border-radius: 4px 4px 0 0;
}

.hierarchy__section:last-child {
   border-radius: 0 0 4px 4px;
}

.hierarchy__section:nth-child(1):last-child {
   border-radius: 4px;
}

.hierarchy__item {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
}

.hierarchy__item[data-depth='1'] {
   padding-left: 10px;
}

.hierarchy__item[data-depth='2'] {
   padding-left: 20px;
}

.hierarchy__text {
   color: #6e6e6e;
   font-size: 14px;
}

.hierarchy__description {
   color: #6e6e6e;
   display: flex;
   flex-direction: column;
   font-size: 14px;
   margin: 0 0 0 11px;
}

.view__body {
   /*width: 70%;*/
   flex-grow: 1;
}

.view-actions {
   margin: 0 0 0 10px;
   min-width: 200px;
}

.view-actions__card {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   overflow: hidden;
}

.view-actions__card:not(:last-child) {
   margin: 0 0 10px 0;
}

.view-actions {
   /*width: 15%;*/
   /*margin: 0 0 0 10px;*/
   /*min-width: 200px;*/
}

.view-modes {
   margin: 0 0 10px 10px;
   min-width: 200px;

}

.view-actions__header {
   border-bottom: 1px solid #e0e0e0;
   font-size: 16px;
   font-weight: 700;

   padding: 10px;
   text-align: center;
}

.view-actions__action,
.view-actions__mode {
   border-right: 4px solid #fff;
   display: block;
   font-size: 16px;
   padding: 10px 15px;

   /*transition: background-color, border-color .1s;*/
   /*todo убрать при загрузке страницы*/
   transition: background-color .1s;
}

.view-actions__mode.selected {
   background-color: #f6f8fa;
   border-color: #b2cde9;
}

.view-actions__action:hover,
.view-actions__mode:hover {
   background-color: #f3f5f6;
   border-color: #93b0d1;
}

.hierarchy__info {
   padding: 10px 20px;
}


.hierarchy__icon-stage {
   color: #6c89a8;
   font-size: 8px;
   margin: 0 5px 0 0;
}


.hierarchy__cards {
   border: 1px solid #cad6e7;
   border-radius: 4px;

}


.hierarchy__experts {

   color: #6a7e9a;
   display: flex;
   flex-direction: column;

}

.hierarchy__card {
   align-items: center;
   display: flex;
   /*border-left: 2px solid #93b0d1;*/
}


.hierarchy__label {
   font-weight: 700;
   margin: 0 5px 0 0;
   padding: 2px 0;
}

.hierarchy__descriptions {
   white-space: nowrap;
}


/*.test {
   margin: 0px 10px 0px 0px;
}

.test__icon {
   margin: 0px 10px 0px 0px;
}

.test__card {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);

   margin: 0px 0px 10px 0px;

}*/

.qwe {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   flex-grow: 1;
}
















