.action {
   flex-grow: 1;
   display: flex;
   flex-direction: column;

}

.header-action__document {
   font-size: 18px;
}

.header-action__name {
   align-self: center;
   font-family: 'Bebas Neue', sans-serif;
   font-size: 20px;
   font-weight: 700;
}

.header-action__document {
   flex-grow: 1;
   text-align: center;
}

.header-action__button:last-child {
   border-radius: 0px 4px 4px 0px;
}

.action__body {
   flex-grow: 1;
   background-color: #ffffff;
   margin: 0px 0px 10px 0px;
   border-radius: 4px;
}

.assignment__section {
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
   border-radius: 4px;

   margin: 0px 0px 10px 0px;
}

.assignment__section:last-child {
   margin: 0px;
}


.section {
   background-color: #ffffff;
   border-left: 3px solid #93b0d1;
}

.assignment__sections {
   display: flex;
   flex-direction: column;
   width: 85%;

}

.section__header {
   display: flex;
   align-items: center;
   border-radius: 0px 4px 0px 0px;
   background-color: #f6f8fa;
   cursor: pointer;
}

.section__header.empty {
   color: #6e6e6e;
}

.section__title {
   flex-grow: 1;
   cursor: pointer;
   padding: 10px 10px 10px 0px;
}

.section__body {
   display: flex;
   border-top: 1px solid #e0e0e0;
   /*border-top: 2px solid #ffd354;*/
   /*border-top: 1px solid #93b0d1;*/
   /*border-bottom: 1px solid #e0e0e0;*/
   /*border-bottom: 2px solid #93b0d1;*/
}

.assignment__section-name {
   flex-grow: 1;
   display: flex;
   align-items: center;
   padding: 10px 15px;
}

.assignment__section-files {
   flex-grow: 1;
}

.section__experts {
   min-width: 230px;
   border-right: 1px solid #e0e0e0;
}

.section__expert {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 7px 7px 7px 13px;
   cursor: pointer;
   transition: background-color 0.15s;
}

.section__expert:hover {
   background-color: #F6F6F6;
}

.section__lead,
.section__common_part {
   opacity: 0;
   visibility: hidden;

   color: #DADADA;
   padding: 5px;
   transition: 0.15s;
}

.section__common_part {
   margin: 0px 8px 0px 0px;
}

.section__lead:hover {
   color: #E8CC38;
}

.section__common_part:hover {
   color: #5B87BA;
}

.section__expert[data-lead='true'] > .section__lead {
   color: #EDD552;
}

.section__expert[data-common_part='true'] > .section__common_part {
   color: #5B87BA;
}

.section__expert:hover > .section__lead,
.section__expert:hover > .section__common_part {
   visibility: visible;
   opacity: 1;
}

.section__expert[data-lead='true'] > .section__lead,
.section__expert[data-lead='true'] > .section__common_part {
   visibility: visible;
   opacity: 1;
}

.section__expert[data-common_part='true'] > .section__lead,
.section__expert[data-common_part='true'] > .section__common_part {
   visibility: visible;
   opacity: 1;
}

.section__name {
   flex-grow: 1;
   margin: 0px 8px 0px 0px;
   overflow: hidden;
}

.section__icon-remove,
.section__remove {
   color: #bd4949;
   transition: 0.15s;
   border-radius: 3px;
   margin: 0px 10px 0px 0px;
   padding: 5px;
   cursor: pointer;
}

.section__icon-remove:hover,
.section__remove:hover {
   background-color: #ffb0b0;
   color: #a93d3d;

}

.section__files {
   flex-grow: 1;
   display: block;
}

.section__expand-button {
   display: flex;
   border-bottom: 1px solid #e0e0e0;
   cursor: pointer;
   transition: 0.15s;
}

.section__expand-button:hover {
   background-color: #F6F6F6;
}

.files__icon {
   font-size: 18px;
}

.section__button-name {
   flex-grow: 1;
   padding: 10px 5px 10px 15px;
}

.section__icon-expand {
   display: flex;
   align-items: center;
   padding: 10px 15px;
   cursor: pointer;
}

.section__uploaded-files {
   flex-grow: 1;
}

.files__item {
   /*border: 0;*/
   padding: 2px 8px;
}

.section__experts-title {
   padding: 10px 13px;
   border-bottom: 1px solid #e0e0e0;

}

.assignment__expert-list {
   display: flex;
   flex-direction: column;
}

.assignment__expert {
   /*display: flex;*/
   /*justify-content: space-between;*/
   /*align-items: center;*/

   padding: 10px 5px 10px 15px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.15s;
}

.assignment__expert:hover {
   background-color: #F6F6F6;
}

/*.assignment__expert-name {*/
/*   flex-grow: 1;*/
/*}*/







.assignment__experts {
   width: 15%;
   margin: 0px 10px 0px 0px;

   position: sticky;
   top: 60px;
   align-self: flex-start;
   z-index: 100;

   background-color: #ffffff;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}

.assignment {
   flex-grow: 1;
   display: flex;
   font-size: 16px;
   margin: 0px 0px 10px 0px;
}

.assignment__sections {
}

.action__empty {
   flex-grow: 1;
}

/*tmp*/

.action-header {
   display: flex;
   margin: 0px 0px 10px;

   height: 50px;


   position: sticky;
   top: 0;
   z-index: 200;

   font-size: 16px;

   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
}

.action__row {
   flex-grow: 1;

}

.header-action__buttons {
   display: flex;
}


.header-action__button {
   flex-grow: 1;
   display: flex;
   align-items: center;
   border-bottom: 2px solid #ffffff;
   cursor: pointer;
   transition: 0.15s;
   padding: 0px 20px;
}

.header-action__button:hover {
   border-bottom: 2px solid #ffd354;
   background-color: #f2f2f2;
}

.action__row {
   display: flex;
   align-items: center;

   padding: 0px 0px 0px 20px;

}

.action__info {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);

   padding: 10px 20px;
   margin: 0px 0px 10px;

   font-size: 16px;
}

.assignment__experts-header {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 0px;
   font-weight: 700;


   border-bottom: 1px solid #e0e0e0;
   /*border-left: 4px solid #ffd354;*/
   border-radius: 4px 0px 0px 0px;

}


.assignment__type {
   padding: 10px 15px;
   border-left: 3px solid #93b0d1;
   /*border-bottom: 1px solid #e0e0e0;*/
   background-color: #F3F5F6;
}

.assignment__body-sections {
   padding: 10px;
}

.assignment__main,
.assignment__additional {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   margin: 0px 0px 10px 0px;
}

.assignment__header {
   display: flex;
   border-bottom: 1px solid #e0e0e0;
   /*border-left: 4px solid #ffd354;*/
   border-radius: 4px 0px 0px 0px;

}

.assignment__title {
   flex-grow: 1;
   font-weight: 700;
   padding: 10px 20px;

}


.assignment__add {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 250px;
   padding: 10px 15px;
   border: 1px solid #ffffff;
   border-radius: 4px;
   background-color: #ffffff;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
   transition: .10s;
   cursor: pointer;
}

.assignment__add-text {
   margin: 0px 10px 0px 0px;

}

.assignment__add:hover {
   box-shadow: 0px 0px 0px 3px rgba(191, 222, 255, 1);
   border-color: #80bdff;
}

[data-active='false'] {
   display: none;
}

.avatar {
   position: absolute;
   z-index: 100000;
   box-sizing: border-box;
   align-items: center;
   flex-grow: 1;
   padding: 10px 15px;
   border: 1px solid #80bdff;
   border-radius: 4px;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 16px;
   color: #6e6e6e;
   cursor: pointer;
   background-color: #ffffff;
   box-shadow: 0px 0px 0px 2px rgba(191, 222, 255, 0.7);
}

.section__folder {
   /*padding: 5px;*/
   color: #80A0C5;
   margin: 0px 10px 0px 10px;

}

.files__title {
   padding: 10px;
   text-align: center;
   border-bottom: 1px solid #e0e0e0;
   font-weight: 700;
}

.files__title:not(:first-child) {
   border-top: 1px solid #e0e0e0;
}











