.action {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   font-family: 'Roboto Condensed', sans-serif;
   color: #343a40;

}



.action__header {
   /*display: flex;*/
   /*align-items: center;*/

   /*height: 50px;*/


   background-color: #ffffff;
   margin: 0px 0px 10px 0px;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);

   /*padding: 10px 20px;*/

}

.action__row {
   display: flex;
   align-items: center;

   /*padding: 10px 20px;*/
   /*padding: 0px 20px;*/

   background-color: #ffffff;
   margin: 0px 0px 10px 0px;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);


}

.header-action__row:not(:last-child) {
   border-bottom: 1px solid #cccccc;

}


.header-action__name {
   /*flex-grow: 1;*/

   align-self: center;
   /*margin: 0px 10px 0px 20px;*/
   font-family: 'Bebas Neue', sans-serif;
   font-size: 20px;
   font-weight: 700;
   color: #343a40;
}

.header-action__document {
   flex-grow: 1;
   text-align: center;
}

.header-action__buttons {
   display: flex;
   align-items: center;
}

.header-action__button {
   display: flex;
   align-items: center;
   padding: 15px 20px;
   border-bottom: 2px solid #ffffff;
   cursor: pointer;
   transition: 0.15s;


}

.header-action__button:hover {
   border-bottom: 2px solid #ffd354;
   background-color: #f2f2f2;
}







.action__body {
   flex-grow: 1;
   background-color: #ffffff;
   margin: 0px 0px 10px 0px;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
}

