.action {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   font-family: 'Roboto Condensed', sans-serif;
   color: #343a40;

}



/*.action__header {

   background-color: #ffffff;
   margin: 0px 0px 10px 0px;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);


}*/

.action__row {
   display: flex;
   align-items: center;


   padding: 0px 0px 0px 20px;


   background-color: #ffffff;
   margin: 0px 0px 10px 0px;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);


}

.header-action__row:not(:last-child) {
   border-bottom: 1px solid #cccccc;

}

.header-action__document {
   font-size: 18px;
}


.header-action__name {
   /*flex-grow: 1;*/

   align-self: center;
   /*margin: 0px 10px 0px 20px;*/
   font-family: 'Bebas Neue', sans-serif;
   font-size: 20px;
   font-weight: 700;
   color: #343a40;
}

.header-action__document {
   flex-grow: 1;
   text-align: center;
}

.header-action__buttons {
   display: flex;
   align-items: center;
}

.header-action__button {
   display: flex;
   align-items: center;
   /*justify-content: center;*/

   padding: 15px 20px;

   border-bottom: 2px solid #ffffff;
   cursor: pointer;
   transition: 0.15s;


   font-size: 18px;


}

/*.header-action__button:hover {
   border-bottom: 2px solid #ffd354;
   background-color: #f6f6f6;
}*/

.header-action__btn-icon {
}

.header-action__btn-label {

}

.header-action__description {
   font-size: 16px;
   padding: 10px 0px;
}




.action__body {
   flex-grow: 1;
   background-color: #ffffff;
   margin: 0px 0px 10px 0px;
   border-radius: 4px;

   /*box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);*/
}

/*.assignment__experts,*/
/*.assignment__main,*/
.assignment__body-experts,
.assignment__additional {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
}


.assignment__section {
   /*display: flex;*/
   /*border-bottom: 1px solid #e0e0e0;*/
   font-size: 14px;
   border-radius: 4px;

   /*border: 1px solid #e2e2e2;*/

   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);

   /*margin: 10px;*/
   margin: 10px 0px 0px 0px;

}


.section {
   background-color: #ffffff;

   /*border-left: 4px solid #ffd354;*/
   border-left: 4px solid #93b0d1;
}

.assignment__header {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);

}

.assignment__header {
   font-size: 16px;

   font-weight: 700;
   /*font-size: 18px;*/


   padding: 8px 15px;
   text-align: center;
   /*border-bottom: 2px solid #ffd354;*/
   border-bottom: 3px solid #ffd354;
   /*border-bottom: 3px solid #93b0d1;*/
   /*border-bottom: 2px solid #93b0d1;*/
}

/**/


.assignment {
   flex-grow: 1;
   display: flex;
   margin: 0px 0px 10px 0px;
   font-size: 16px;

}

.assignment__experts {
   width: 15%;
   margin: 0px 10px 0px 0px;

}

.assignment__sections {
   display: flex;
   flex-direction: column;
   width: 85%;

}

.assignment__main {

   flex-grow: 1;
   margin: 0px 0px 10px 0px;

}

.assignment__additional {
   /*display: flex;*/
   /*flex-direction: column;*/
}





.section__title {
   display: flex;
   padding: 10px 15px;

   /*align-items: center;*/
   /*border-bottom: 1px solid #e0e0e0;*/
   /*border-bottom: 2px solid #ffd354;*/
   /*border-bottom: 2px solid #93b0d1;*/

}

.section__body {
   /*padding: 10px 15px;*/
   display: flex;
   border-top: 1px solid #e0e0e0;
   /*border-top: 2px solid #ffd354;*/
   /*border-top: 1px solid #93b0d1;*/
   /*border-bottom: 1px solid #e0e0e0;*/
   /*border-bottom: 2px solid #93b0d1;*/

}

.assignment__section-name {
   flex-grow: 1;
   display: flex;
   align-items: center;
   padding: 10px 15px;
}



.assignment__section-files {
   flex-grow: 1;
}

.section__experts {
   min-width: 100px;
   border-right: 1px solid #e0e0e0;

}

.section__expert {

   max-width: 160px;

   display: flex;
   align-items: center;
   justify-content: space-between;


   padding: 7px 10px 7px 15px;

   cursor: pointer;

   transition: 0.15s;
}


.section__name {
   margin: 0px 8px 0px 0px;
   overflow: hidden;
}

.section__expert:hover {
   background-color: #F6F6F6;
}

.section__icon-remove {
   color: #bd4949;
   transition: 0.15s;
   border-radius: 3px;
   padding: 5px;
   cursor: pointer;
}

.section__icon-remove:hover {
   background-color: #ffb0b0;
   color: #a93d3d;

}


.section {
   /*display: flex;*/
   /*align-items: center;*/
   /*padding: 13px 8px;*/
   /*border-left: 1px solid #e0e0e0;*/
}


.section__files {
   flex-grow: 1;
   display: block;
   font-size: 14px;
}

.section__expand-button {
   display: flex;
   border-bottom: 1px solid #e0e0e0;
   cursor: pointer;
   transition: 0.15s;
}

.section__expand-button:hover {
   /*background-color: #f2f2f2;*/
   background-color: #F6F6F6;
}

.files__icon {
   font-size: 18px;
}

.section__button-name {
   flex-grow: 1;
   padding: 10px 5px 10px 15px;
}

.section__icon-expand {
   display: flex;
   align-items: center;
   padding: 10px 15px;
   transition: .1s;
   cursor: pointer;
   /*border-left: 1px solid #e0e0e0;*/
}

.section__uploaded-files {
   flex-grow: 1;
}

.section__files {
   padding: 3px 0px;

}

.files__item {
   /*border: 0;*/
   padding: 2px 8px;
}

.section__experts-title {
   padding: 10px 13px;
   border-bottom: 1px solid #e0e0e0;

}

.section {
   /*border-color: #93b0d1;*/
}

.assignment__body-experts {
   margin: 10px 0px 0px 0px;

   /*padding: 7px;*/

   border-left: 4px solid #93b0d1;

}

.assignment__expert-section:not(:last-child) {
   /*display: flex;*/
   /*flex-direction: column;*/
   border-bottom: 1px solid #e0e0e0;

}

.assignment__type {
   padding: 10px 15px;
   border-bottom: 1px solid #e0e0e0;

   text-align: center;
}

.assignment__expert-list {
   display: flex;
   flex-direction: column;
}

.assignment__expert {
   padding: 10px 15px;

   font-size: 16px;
   font-family: 'Roboto Condensed', sans-serif;
   color: #343a40;

   /*border-bottom: 1px solid #e0e0e0;*/

   /*border-radius: 4px;*/
   cursor: pointer;
   transition: background-color 0.15s;

}

.assignment__expert:hover {
   background-color: #F6F6F6;

}

.assignment__expert.drag {
   /*background-color: #E3EFFF;*/
   /*border: 1px solid #CAD6E7;*/
   /*color: #6A7E9A;*/

   position: absolute;
   z-index: 1000;


   background-color: #ddfad9;
   border: 1px solid #C5E6C1;
   color: #537A5D;

   border-radius: 4px;

   /*pointer-events: none;*/


}












