.calendar {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   z-index: 50;
   max-width: 250px;
   width: 100%;
   padding: 10px;
   font-family: 'Roboto Condensed', sans-serif;
   border-radius: 3px;
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
   background-color: #fff;
   /*transition: opacity .3s;*/
   transition: .15s;
}

.calendar-overlay {
   visibility: hidden;
   opacity: 0;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.calendar.active,
.calendar-overlay.active {
   visibility: visible;
   opacity: 1;
}

.calendar__nav {
   display: flex;
   align-items: center;
   margin: 0px 0px 10px 0px;
}

.calendar__arrow {
   padding: 5px 8px;
   border-radius: 3px;
   cursor: pointer;
}

.calendar__arrow:hover {
   background-color: #cccccc;
}

.calendar__selected_label {
   text-align: center;
   flex-grow: 1;
   padding: 5px 0px;
   font-size: 16px;
   font-weight: 700;
   border-radius: 3px;
   cursor: pointer;
}

.calendar__selected_label:hover {
   background-color: #cccccc;
}

.calendar__title {
   display: flex;
   justify-content: space-between;
   margin: 0px 0px 10px 0px;
   font-weight: 700;
   cursor: default;
}

.calendar__title.hidden {
   display: none;
}

.calendar__week-day {
   text-align: center;
   flex-basis: 14.2%;
}

.calendar__row {
   display: flex;
   justify-content: space-between;
}

.calendar__item {
   text-align: center;
   border-radius: 3px;
   cursor: pointer;
}

.calendar__item[data-type='day'] {
   flex-basis: 14.2%;
   padding: 5px 0px;
}

.calendar__item[data-type='month'],
.calendar__item[data-type='year'] {
   flex-basis: 25%;
   padding: 10px 0px;
}

.calendar__item.previous,
.calendar__item.next {
   color: #c3c3c3;
}

.calendar__item:hover {
   color: #343a40;
   background-color: #cccccc;
}

.calendar__item.selected {
   background-color: #80bdff;
   color: #343a40;
}

.body-card__value {
   flex-grow: 1;
}

.body-card__icon-delete {
   margin: 0px 15px 0px 0px;
}












