
.comments-table {

   margin: 10px;

   color: #343a40;
   /*width: 100%;*/
   border: 1px solid #e0e0e0;
   border-collapse: collapse;
   font-size: 14px;

}


.comments-table td,
.comments-table th
{
   /*border: solid #e0e0e0;*/
   /*border-width: 0 1px 1px 0;*/
   border-collapse: collapse;

   border: 1px solid #e0e0e0;
   /*padding: 10px;*/
   padding: 5px;

}

.comments-table__icon-delete {
   color: #a93d3d;
}

.comments-table__row {
   /*cursor: pointer;*/
}

.comments-table__row td:not(:first-child) {
   transition: .15s;
}

.comments-table__row:hover {
   /*background-color: #F3F5F6;*/
   background-color: #F9FBFC;
}


.comments-table__criticality {
   text-align: center;
}

.comments-table__number {
   text-align: center;
}

.comments-table__row {
   border-left: 2px solid #e0e0e0;
}

.comments-table__row[data-criticality='1'] {
   /*border-left: 2px solid #65B277;*/
   border-left: 2px solid #87c596;
}

.comments-table__row[data-criticality='2'] {
   /*border-left: 2px solid #498BD6;*/
   border-left: 2px solid #93b0d1;
}

.comments-table__row[data-criticality='3'] {
   /*border-left: 2px solid #E24C4C;*/
   border-left: 2px solid #E28383;
}


.comments-table .documentation__files {
   border: unset;
}

.comments-table .files__item {
   border: unset;
   padding: unset;
}

.comments-table .files__actions {
   margin: 0px 0px 0px 3px;
}

.comments-table .files__info {
   padding: 3px 0px 3px 10px;
   margin: 0px 3px 0px 0px
}

.comments-table .files__icon {
   font-size: 18px;
   margin: 0px 6px 0px 0px;
}

.comments-table__icon {
   font-size: 18px;
}

td.comments-table__action {
   padding: 5px;
   width: 4%;
}

.application-actions {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.application-actions__item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.application-actions__text {
   font-size: 12px;
}

.application-actions__icon {
   font-size: 18px;
}

.comments-table__action.edit .application-actions__icon,
.comments-table__action.edit .application-actions__text  {
   color: #1c3959;
}

.comments-table__action.delete .application-actions__icon,
.comments-table__action.delete .application-actions__text {
   color: #a93d3d;
}

.comments-table__action {
   cursor: pointer;
   transition: .15s;
}

.comments-table__action.edit:hover {
   background-color: #F0F6F9;
}

.comments-table__action.delete:hover {
   background-color: #FCF6F6;
}

.comments-table__author {
   white-space: nowrap;
   text-align: center;
}

