.comments-table {
   /*margin: 10px;
   color: #343a40;
   border: 1px solid #e0e0e0;
   border-collapse: collapse;
   font-size: 14px;*/

   /*display: grid;*/


   /*background-color: #000;*/
   font-size: 14px;
   /*display: grid;*/
   /*grid-template-columns: 1fr 7fr 25fr 10fr 22fr 25fr;*/

}

.comments-table__column,
.comments-table__action {
   background-color: #fff;
}

.descriptive-part__card .comments-table .comments-table__column:first-child {
   grid-row: 1 / 3;
}

.comments-table__header .comments-table__column {
   /*display: flex;*/
   /*align-items: center;*/
   text-align: center;
}

.comments-table__column {
   overflow: hidden;
   padding: 5px;

}

.descriptive-part__comments .comments-table__row:first-child {
   border-bottom: 2px solid #93b0d1;
   border-top: 1px solid #e0e0e0;
}

.comment-group .comments-table__row:first-child {
   background-color: #fff;
}

.comments-table__row:first-child .comments-table__column {
   font-weight: 700;
   text-align: center;
}

.comments-table__body .comments-table__column {
   align-items: center;
   display: flex;
}


.comments-table__action {
   padding: 5px;
}

/*.comments-table__row .comments-table__column {*/
.comments-table__row {
   display: grid;
   /*background-color: #000;*/
   /*grid-gap: 1px;*/
   grid-template-columns: 8fr 3fr 1fr 8fr;
}

.comments-table__row:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.comments-table__row .comments-table__column {
   /*border-left: 1px solid #e0e0e0;*/
   align-items: center;
   display: flex;
}

.comments-table__header {
   align-items: center;
   /*background-color: #000;*/
   /*grid-gap: 1px;*/
   border-bottom: 1px solid #93b0d1;
   /*border-bottom: 2px solid #93b0d1;*/
   display: grid;
   /*grid-template-columns: 3fr 9fr 25fr 10fr 22fr 25fr;*/
   grid-template-columns: minmax(35px, auto) 9fr 25fr 10fr 22fr 25fr;
}

.total-cc-card .comments-table__header,
.comment-group .comments-table__header {
   grid-template-columns: minmax(35px, auto) 5fr 20fr 15fr;
}

.descriptive-part__card .comments-table__header {
   grid-gap: 1px;
   grid-template-columns: 40fr 15fr 5fr 40fr;
}


.descriptive-part__card .comments-table__body {
   background-color: #e0e0e0;
   grid-gap: 1px;
}

.view-section__body .comments-table__row {
   display: grid;
   grid-gap: 1px;
   /*grid-template-columns: 3fr 9fr 25fr 10fr 22fr 25fr;*/
   /*grid-template-columns: 1fr 9fr 25fr 10fr 22fr 25fr;*/
   grid-template-columns: 2fr 9fr 25fr 10fr 22fr 25fr;
}

.view-section__body .comments-table__row:not(:first-child) {
   background-color: #e0e0e0;
}

.view-section__body .comments-table__row:first-child {
   font-weight: 700;

}

.comments-table__row:first-child .comments-table__column {
   justify-content: center;
   text-align: center;
}

.descriptive-part__card .comments-table__body,
.total-cc-card .comments-table__row,
.comment-group .comments-table__row {
   background-color: #e0e0e0;
   cursor: pointer;
   display: grid;
   grid-gap: 1px;
}

.total-cc-card .comments-table__row:hover {
   /*background-color: red;*/
}

.total-cc-card .comments-table__row,
.comment-group .comments-table__row {
   grid-template-columns: minmax(35px, auto) 5fr 20fr 15fr;
}

.descriptive-part__card .comments-table__body {
   grid-template-columns: 1fr 7fr 3fr 1fr 8fr;

}

.comments-table__criticality {
   text-align: center;
}

.comments-table__number {
   text-align: center;
}

.comments-table__column[data-criticality='1'] {
   /*border-left: 2px solid #65B277;*/
   border-left: 2px solid #87c596;
}

.comments-table__column[data-criticality='2'] {
   /*border-left: 2px solid #498BD6;*/
   border-left: 2px solid #93b0d1;
}

.comments-table__column[data-criticality='3'] {
   /*border-left: 2px solid #E24C4C;*/
   border-left: 2px solid #e28383;
}

.comments-table .documentation__files {
   /*border: unset;*/
   /*flex-grow: 1;*/
}

.comments-table .files__item {
   border: unset;
   padding: unset;
}

.comments-table .files__actions {
   margin: 0 0 0 3px;
}

.comments-table .files__info {
   margin: 0 3px 0 0;
   padding: 3px 0 3px 10px;
}

.comments-table .files__icon {
   font-size: 18px;
   margin: 0 6px 0 0;
}

.comments-table__icon {
   font-size: 18px;
}

.comments-table__actions {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.comments-table__action {
   align-items: center;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   justify-content: center;
   transition: background-color .15s;
}

.comments-table__action:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.comments-table__label-action {
   font-size: 12px;
}

.comments-table__icon-action {
   font-size: 18px;
}

.comments-table__action.edit .comments-table__icon-action,
.comments-table__action.edit .comments-table__label-action {
   color: #1c3959;
}

.comments-table__action.delete .comments-table__icon-action,
.comments-table__action.delete .comments-table__label-action {
   color: #a93d3d;
}

.comments-table__action.edit:hover {
   background-color: #f6f8fa;
}

.comments-table__action.delete:hover {
   background-color: #fcf6f6;
}

.comments-table__author {
   white-space: nowrap;
   /*text-align: center;*/
}

