.comment-modal {
   height: 98%;
   min-width: 1024px;
   max-width: 1655px;

   top: 50%;
   /*overflow-y: auto;*/
   /*overflow-x: hidden;*/

   overflow: hidden;
   /*position: absolute;*/

   color: #343a40;

   flex-direction: row;
   z-index: 1000;
}

.comment-overlay {
   z-index: 500;
}

.comment-modal__files {
   overflow: hidden;
}

.comment-modal__body {
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
}

.comment-modal__form {
   width: 50%;
   display: flex;
   flex-direction: column;
}

.comment-modal__form > .comment-modal__body {
   border-right: 2px solid #93b0d1;
   padding: 10px 0px;
}

.comment-modal__form .form-field {
   flex-direction: column;
   align-items: flex-start;
   margin: 0 20px;
}

.comment-modal__form .form-field__item {
   width: 100%;
}

.comment-modal__form .form-field__select {
   font-size: 16px;
}

.comment-modal__form .form-field__title {
   text-align: left;
   width: 100%;
   margin: 0px 0px 10px 0px;
}

.comment-modal__files {
   width: 50%;
}

.comment-modal__header {
   padding: 10px;
   border-bottom: 2px solid #93b0d1;
}

.comment-modal__title {
   font-weight: 700;
   text-align: center;
}


::-webkit-scrollbar {
   width: 4px;
   max-height: 5px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1;
   border-radius: 0;
}

::-webkit-scrollbar-thumb {
   /*background: #ffd354;*/
   background: #DEDEDE;
   border-radius: 0;
   /*border-radius: 3px;*/
}

::-webkit-scrollbar-thumb:hover {
   background: #cccccc;
   /*background: #FFC828;*/
}

.radio__text {
   font-size: 16px;
}

.field-card {
   margin: 10px 20px;
   border-radius: 4px;
}

.field-card__header {
   padding: 10px;
   /*border: 1px solid #e0e0e0;*/
   border: 1px solid #cccccc;
   background-color: #f6f8fa;
   border-bottom: 0;
   border-radius: 4px 4px 0 0;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.field-card__body {
   display: flex;
}

.field-card__body textarea {
   flex-grow: 1;
   border-radius: 0px 0px 4px 4px;
   font-size: 16px;
   /*border-color: #e0e0e0;*/
   /*border: 1px solid #cccccc;*/
}

.field-card[data-required='true'] .field-card__title::after {
   content: '*';
   color: #bd4949;
}

.files__checkbox {
   font-size: 18px;
   color: #6180A4;
}

.files__checkbox.fas {
   /*color: #007bff;*/
   /*color: #567EAD;*/
   /*color: #6180A4;*/
}

.comment-modal__actions {
   display: flex;
   margin: 10px 20px;
}

.comment-modal__button {
   min-width: 180px;
   justify-content: space-between;
   /*align-self: flex-start;*/
   /*box-sizing: border-box;*/
   display: flex;
   align-items: center;
   /*flex-grow: 1;*/
   padding: 10px;
   border: 1px solid #cccccc;
   border-radius: 4px;
   font-size: 14px;
   cursor: pointer;
   transition: box-shadow .10s;
   color: #1c3959;
}

.comment-modal__button:first-child {
   margin: 0px 10px 0px 0px;
}

.comment-modal__button:hover {
   box-shadow: 0px 0px 0px 3px rgba(191, 222, 255, 1);
   border-color: #80bdff;
}

.comment-modal__button[data-save_comment] > .comment-modal__icon-button {
   color: #87c596;
}

.comment-modal__button[data-delete_comment] > .comment-modal__icon-button {
   color: #a93d3d;
}

.field-card__icon-tooltip {
   font-size: 18px;
   margin: 0px 5px;
   color: #3b516b;
}

.comment-modal__note-tooltip {
   padding: 10px;
}



















