.comment-modal {
   color: #343a40;
   flex-direction: row;
   height: 98%;

   max-width: 1655px;
   /*overflow-y: auto;*/
   /*overflow-x: hidden;*/

   min-width: 1024px;
   /*position: absolute;*/

   overflow: hidden;

   top: 50%;
   z-index: 1000;
}

.comment-overlay {
   z-index: 500;
}

.comment-modal__files {
   overflow: hidden;
}

.comment-modal__body {
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
}

.comment-modal__form {
   display: flex;
   flex-direction: column;
   width: 50%;
}

.comment-modal__form > .comment-modal__body {
   border-right: 2px solid #93b0d1;
   padding: 10px 0;
}

.comment-modal__form .form-field {
   align-items: flex-start;
   flex-direction: column;
   margin: 0 20px;
}

.comment-modal__form .form-field__item {
   width: 100%;
}

.comment-modal__form .form-field__select {
   font-size: 16px;
}

.comment-modal__form .form-field__title {
   margin: 0 0 10px 0;
   text-align: left;
   width: 100%;
}

.comment-modal__files {
   width: 50%;
}

.comment-modal__header {
   border-bottom: 2px solid #93b0d1;
   padding: 10px;
}

.comment-modal__title {
   font-weight: 700;
   text-align: center;
}

/*
::-webkit-scrollbar {
   width: 4px;
   max-height: 5px;
}


::-webkit-scrollbar-track {
   background: #f1f1f1;
   border-radius: 0;
}

::-webkit-scrollbar-thumb {
   !*background: #ffd354;*!
   background: #DEDEDE;
   border-radius: 0;
   !*border-radius: 3px;*!
}

::-webkit-scrollbar-thumb:hover {
   background: #cccccc;
   !*background: #FFC828;*!
}
*/

.radio__text {
   font-size: 16px;
}

.field-card {
   border-radius: 4px;
   margin: 10px 20px;
}

.field-card__header {
   align-items: center;
   /*border: 1px solid #e0e0e0;*/
   background-color: #f6f8fa;
   border: 1px solid #ccc;
   border-bottom: 0;
   border-radius: 4px 4px 0 0;

   display: flex;
   justify-content: space-between;
   padding: 10px;
}

.field-card__body {
   display: flex;
}

.field-card__body textarea {
   border-radius: 0 0 4px 4px;
   flex-grow: 1;
   font-size: 16px;
   /*border-color: #e0e0e0;*/
   /*border: 1px solid #cccccc;*/
}

.field-card[data-required='true'] .field-card__title::after {
   color: #bd4949;
   content: '*';
}

.files__checkbox {
   color: #6180a4;
   font-size: 18px;
}

.files__checkbox.fas {
   /*color: #007bff;*/
   /*color: #567EAD;*/
   /*color: #6180A4;*/
}

.comment-modal__actions {
   display: flex;
   margin: 10px 20px;
}

.comment-modal__action.form-button {
   min-width: 180px;
}

/*.comment-modal__button {
   min-width: 180px;
   justify-content: space-between;
   display: flex;
   align-items: center;
   padding: 10px;
   border: 1px solid #cccccc;
   border-radius: 4px;
   font-size: 14px;
   cursor: pointer;
   transition: box-shadow .10s;
   color: #1c3959;
}*/


/*.comment-modal .form-button:not(:last-child) {
   margin: 0px 10px 0px 0px;
}*/

/*.comment-modal__button:hover {
   box-shadow: 0px 0px 0px 3px rgba(191, 222, 255, 1);
   border-color: #80bdff;
}*/

/*.comment-modal__button[data-save_comment] > .comment-modal__icon-button,
.comment-modal__button[data-save_group] > .comment-modal__icon-button
{
   color: #87c596;
}

.comment-modal__button[data-delete_comment] > .comment-modal__icon-button,
.comment-modal__button[data-close_group] > .comment-modal__icon-button
{
   color: #a93d3d;
}*/

/*
.comment-modal__icon-button.fa-eraser {
   font-size: 16px;
}
*/

.field-card__icon-secret {
   color: #3b516b;
   font-size: 18px;
   margin: 0 5px;
}

.comment-modal__note-tooltip {
   padding: 10px;
}



















