.comment-modal {
   height: 98%;
   min-width: 1024px;
   max-width: 1655px;

   top: 50%;
   /*overflow-y: auto;*/
   /*overflow-x: hidden;*/

   overflow: hidden;

   color: #343a40;

   flex-direction: row;
}

.comment-modal__files {
   overflow: hidden;
}

.comment-modal__body {
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
}

.comment-modal__form {
   width: 50%;
}

.comment-modal__form > .comment-modal__body {
   border-right: 2px solid #93b0d1;
}

.comment-modal__form .form-field {
   flex-direction: column;
   align-items: flex-start;
}

.comment-modal__form .form-field__item {
   width: 100%;
}

.comment-modal__form .form-field__title {
    text-align: left;
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.comment-modal__files {
   width: 50%;
}

.comment-modal__header {
   padding: 10px;
   border-bottom: 2px solid #93b0d1;
}

.comment-modal__title {
   font-weight: 700;
   text-align: center;
}

.radio__text {
   font-size: 16px;
}