.conclusion {
   flex-grow: 1;
   display: flex;
}

.conclusion-sidebar
{
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   overflow: hidden;
}


.application-form__cards {
   flex-grow: 1;
}

.conclusion-sidebar {
   margin: 0 10px 10px 0;
   align-self: flex-start;
   min-width: 500px;
   max-width: 500px;
   position: sticky;
   /*top: 60px;*/
   top: 10px;
}

.conclusion-body {
   flex-grow: 1;
}

.hierarchy__section {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.hierarchy__icon {
   margin: 0 5px;
   font-size: 18px;
}

.hierarchy__stage {
   margin: 0 0 0 5px;
}

.hierarchy__icon.fa-check {
   color: #87c596;
}

.hierarchy__stage {
   color: #6e6e6e;
}

.hierarchy__section {
}

.card-form__title {
   /*text-transform: uppercase;*/
}

.card-form__body {
   font-size: 14px;
}

.form-field__title {
   width: 20%;
}

.form-field__item {
   width: 80%;
}

.conclusion-sidebar__header .hierarchy__name {
   font-weight: 700;
}

.conclusion-sidebar__header {
   border-bottom: 1px solid #e0e0e0;
   border-left: unset;
}

.conclusion-sidebar__header:hover {
   background-color: unset;
}

.conclusion-sidebar__header .hierarchy__stage {
   font-weight: 700;
   color: unset;
}

.conclusion-body__message {
   /*font-weight: 700;*/
   margin: 10px 15px;
}

.form-card {
   border: 1px solid #e0e0e0;
   border-radius: 4px;
   overflow: hidden;
   margin: 10px 20px;

}

.form-card__header {
   padding: 10px;
   border-bottom: 1px solid #e0e0e0;
}

.form-card__text {
   padding: 10px;
}

.conclusion-table__body {
   /*border: 1px solid #e0e0e0;*/
   /*margin: 10px;*/

   display: grid;
   grid-template-columns: 1fr 10fr 2fr 7fr;
   grid-gap: 1px;
   background-color: #e0e0e0;
}

.conclusion-table__header {
   display: grid;
   grid-template-columns: 1fr 10fr 2fr 7fr;
}

.conclusion-table__item {
   background-color: #fff;
   display: flex;
   align-items: center;
   padding: 5px;

}

.conclusion-table__item.header {
   font-weight: 700;
   justify-content: center;
   text-align: center;
   border-bottom: 2px solid #93b0d1;
}

.conclusion-table__item.number {
   justify-content: center;
}

.conclusion-pd .conclusion-table__header,
.conclusion-pd .conclusion-table__body {
   grid-template-columns: 2fr 5fr 13fr 2fr;
}

.card-form.header {
   border-left: 0;
}

.card-form.header .card-form__title {
   color: #343a40;
   font-weight: 700;
}

.hierarchy__section.header {
   background-color: #f3f5f6;
   border-left-color: #f3f5f6;
}

.hierarchy__item[data-depth='1'] {
   padding: 0 0 0 5px;
}

.hierarchy__item[data-depth='2'] {
   padding: 0 0 0 10px;
}

.hierarchy__item[data-depth='3'] {
   padding: 0 0 0 15px;
}

.hierarchy__item[data-depth='4'] {
   padding: 0 0 0 20px;
}

.conclusion-sidebar__hierarchy {
   align-self: flex-start;
   cursor: pointer;
   max-height: 970px;
   overflow: auto;
}

.conclusion-sidebar__header {
   padding: 7px 10px;
   /*transition: background-color, border-color .1s;*/
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.hierarchy__section:first-child {
   border-radius: unset;
}


.conclusion-sidebar__hierarchy::-webkit-scrollbar {
   max-height: 5px;
   width: 3px;
   cursor: pointer;
}

.conclusion-sidebar__hierarchy::-webkit-scrollbar-track {
   background: #f3f5f6;
   border-radius: 0;
   cursor: pointer;
}

.conclusion-sidebar__hierarchy::-webkit-scrollbar-thumb {
   background: #f3f5f6;
   border-radius: 0;
   cursor: pointer;
}

.conclusion-sidebar__hierarchy::-webkit-scrollbar-thumb:hover {
   background: #f3f5f6;
}

.hierarchy__section.invalid {
   border-color: #e99a9a;
}

.scroll_to {
   height: 100px;
   width: 100px;
   background-color: #93b0d1;
}

.action-header {
   position: unset;
}

.action-header__xml {
   position: absolute;
   right: 0;
   top: 0;
   /* background-color: #e0e0e0; */
   border-bottom: 2px solid #fff;
   border-radius: 0 3px 3px 0;
   padding: 15px 20px 14px 20px;
   transition: .1s;
   cursor: pointer;

   display: flex;
   align-items: center;
}

.action-header__xml:hover {
   background-color: #f2f2f2;
   border-color: #93b0d1;
   border-bottom: 2px solid #93b0d1;
}

.xml-text {
   margin: 0 8px 0 0;
}

.xml-icon {
   color: #6081a8;
   font-size: 18px;
}