.application-form__header {
   display: flex;
   justify-content: space-between;
   min-height: 50px;
   margin: 0px 0px 10px 0px;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   background-color: #ffffff;
}

.header-form__title {
   align-self: center;
   margin: 0px 0px 0px 20px;
   font-family: 'Bebas Neue', sans-serif;
   font-weight: 700;
   font-size: 20px;
   color: #343a40;
}

.header-form__actions {
   display: flex;
}

.header-form__btn {
   display: flex;
   align-items: center;
   padding: 0px 15px;
   cursor: pointer;
   border-bottom: 2px solid #ffffff;
   transition: background-color 0.15s;
}

.header-form__btn:hover {
   border-bottom: 2px solid #ffd354;
   background-color: #f2f2f2;
}

.header-form__text {
   margin: 0px 15px 0px 0px;
   font-family: 'PT Sans Narrow', sans-serif;
   font-size: 18px;
   color: #343a40;
}

.header-form__icon {
   font-size: 20px;
   color: #8e8e8e;
}

.header-form__btn.fa-trash {
   font-size: 18px;
}

/* application-form__header =================================================================== */

.application-form__body {
   display: flex;
   flex-grow: 1;
}

.application-form__sidebar {
   align-self: flex-start;
   margin: 0px 10px 0px 0px;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   background-color: #ffffff;
}

.sidebar-form__row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-width: 300px;
   min-height: 35px;
   padding: 0 15px;

   background-color: #ffffff;
   border-left: 4px solid #ffffff;
   cursor: pointer;
}

.sidebar-form__row:first-child {
   border-radius: 4px 0 0 0;
}

.sidebar-form__row:last-child {
   border-radius: 0 0 0 4px;
}

.sidebar-form__row.valid {
   background-color: #e8ffed;
   border-color: #e8ffed;
   /*background-color: #f7fff9;*/
   /*border-color: #f7fff9;*/
}

.sidebar-form__row.warning {

   background-color: #FEFAEF;
   border-color: #FEFAEF;
   /*background-color: #FFF9E5;*/
   /*border-color: #FFF9E5;*/
}

.sidebar-form__row.selected {
   background-color: #f2f2f2;
   border-color: #ffd354;
}


.sidebar-form__row.selected.sidebar-form__row.valid {
   /*background-color: #eaffe7;*/
   background-color: #ddfad9;

   border-color: #87c596;
}

.sidebar-form__row.selected.sidebar-form__row.warning {
   background-color: #fef5da;
   /*background-color: #ffe4e4;*/
   /*border-color: #ff5151;*/
}

.sidebar-form__text {
   font-family: 'Roboto Condensed', sans-serif;
   color: #343a40;
}

.sidebar-form__icon {
   font-size: 22px;
   display: none;
   color: #87c596;
}

.sidebar-form__icon.valid {
   display: inline-block;
   color: #87c596;
}

.sidebar-form__icon.warning {
   display: inline-block;
   color: #ffd354;
}

.sidebar-form__icon.fa-exclamation {
   margin: 0px 7px 0px 0px;
}
/* application-form__sidebar =================================================================== */

.application-form__cards {
   flex-grow: 1;
}

.card-form {
   margin: 0px 0px 10px 0px;
   border-left: 4px solid #ffd354;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   background-color: #ffffff;
}

.card-form__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 35px;
   border-bottom: 1px solid #e0e0e0;
   color: #1c3959;
   user-select: none;
   cursor: pointer;
}


.card-form__title {
   flex-grow: 1;
   margin: 0px 0px 0px 10px;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 16px;
   font-weight: 400;
}

.card-form__icon-expand {
   margin: 0px 20px 0px 0px;
   font-size: 20px;
}

.arrow-up {
   transform: rotate(-180deg);
   transition: .3s;
}

.arrow-down {
   transform: rotate(0);
   transition: .3s;
}

/*.fa-check {
   color: #87c596;
}*/

/*.fa-times {
   color: #ff5151;
}*/

/* card-form =================================================================== */

.card-form__body {
   /**/
   max-height: 0;

   overflow: hidden;
   /*padding: 10px 0px;*/
   font-family: 'Roboto Condensed', sans-serif;
   color: #343a40;
   transition: .3s;
}

.body-card__row {
   display: flex;
   margin: 0px 20px;
   /*margin: 0px 0px 0px 20px;*/
   padding: 10px 0px;
   position: relative;

   /**/
   align-items: center;

}

.body-card__row.center {
   align-items: center;
}

.body-card__row[data-inactive="true"] {
   display: none;
}

.body-card__title {
   /*margin: 10px 20px 0px 0px;*/
   margin: 0px 20px 0px 0px;
   text-align: right;
   width: 30%;
}

.body-card__field {
   /*flex-grow: 1;*/
   /*align-self: center;*/
   /*width: 70%;*/

   /*   */
   /*box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #cccccc;
   border-radius: 4px;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
   font-size: 14px;
   color: #6e6e6e;
   cursor: pointer;

   transition: .10s;*/
   /*   */

   /*display: flex;*/
}

.body-card__select {
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /*width: 100%;*/

   padding: 10px;
   border: 1px solid #cccccc;
   border-radius: 4px;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
   font-size: 14px;

   color: #6e6e6e;
   cursor: pointer;

   transition: box-shadow .10s;


   flex-grow: 1;
}

.body-card__select.filled {
   color: #343a40;
}

.body-card__select:hover {
   box-shadow: 0px 0px 0px 3px rgba(191, 222, 255, 1);
   border-color: #80bdff;
}

.body-card__error {
   display: none;
   font-size: 12px;
   color: #bd4949;
}

.body-card__error.active {
   display: inline;
}

.modal-select__icon.fa-bars {
   margin: 0px 5px 0px 0px;
}

.body-card__select.invalid,
.body-card__input.invalid {
   border-color: #db5151;
   color: #bd4949;
}

/*.body-card__select.invalid::placeholder {*/
/*   color: #bd4949;*/
/*}*/


.body-card__select.invalid:hover,
.body-card__select.invalid:focus,
.body-card__input.invalid:hover,
.body-card__input.invalid:focus {
   box-shadow: 0px 0px 0px 3px rgba(255,176,176,1);
   /*border-color: #db5151;*/
}


/* body-form =================================================================== */

/* tmp ========================================================================= */

.body-card__title.fas {
   font-size: 12px;
   color: #343a40;
}

.body-card.fas {
   margin-right: 5px;
}

.body-card__input,
.body-card__text {
   box-sizing: border-box;
   width: 100%;
}

.body-card__title.required:after {
   content: '*';
   color: #bd4949;
}

.body-card__input-error {
   visibility: hidden;
   font-size: 12px;
   color: #bd4949;
}

.body-card__input-error.active {
   visibility: visible;
}


.radio__icon {
   margin: 0px 10px 0px 0px;
}

.radio__icon.inline {
   margin: 0px 5px 0px 0px;
}

.radio__icon.far,
.checkbox__icon.far {
   font-size: 20px;
   color: #343a40;
}



/*.radio__icon.fas,
.checkbox__icon.fas {
   font-size: 15px;
   color: #343a40;
}*/

.radio__item,
.checkbox__item {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.radio__item.col:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.radio__item.inline {
   margin: 0px 10px 0px 0px;
}

.radio__text {
   font-size: 14px;
}

.radio__title {
   font-size: 14px;
   display: block;


   /**/
   /*margin: 10px 0px 0px 0px;*/
}

.radio__value {
   font-size: 15px;
}

.radio__body.inline {
   display: flex;
   align-items: center;
}

.body-card__icon-clear {
   align-self: center;
   /*padding: 0px 13px 0px 13px;*/
   margin: 0px 0px 0px 2px;

   padding: 10px;
   border-radius: 4px;
   color: #6e6e6e;
   border: #ffffff solid 2px;


   cursor: pointer;
   transition: 0.15s;
}

.body-card__icon-clear.fa-trash{
   font-size: 16px;
}

.body-card__icon-clear.fa-calendar-times{
   font-size: 18px;
}

.body-card__icon-clear:hover {
   background-color: #ffb0b0;
   color: #a93d3d;
   border-color: #ffb0b0;
}


.body-card__value {
   /*flex-grow: 1;*/
   /*align-self: center;*/
   width: 100%;

   /*   */
}

.body-card__field {
   width: 100%;
   display: flex;
}

/* tmp ========================================================================= */

.fa-dot-circle,
.fa-play-circle
{
   font-size: 18px;
   margin: 0px 7px 0px 0px;
}












