.application-form__header {
   display: flex;
   justify-content: space-between;
   min-height: 50px;
   margin: 0px 0px 10px 0px;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   background-color: #ffffff;
}

.header-form__title {
   align-self: center;
   margin: 0px 0px 0px 20px;
   font-family: 'Bebas Neue', sans-serif;
   font-size: 20px;
   font-weight: 700;
   color: #343a40;
}

.header-form__actions {
   display: flex;
}

.header-form__btn {
   display: flex;
   align-items: center;
   padding: 0px 15px;
   border-bottom: 2px solid #ffffff;
   cursor: pointer;
   /*transition: background-color 0.15s;*/
   transition: 0.15s;
}

.header-form__btn:hover {
   border-bottom: 2px solid #ffd354;
   background-color: #f2f2f2;
}

.header-form__text {
   margin: 0px 15px 0px 0px;
   font-family: 'PT Sans Narrow', sans-serif;
   font-size: 18px;
   color: #343a40;
}

.header-form__icon {
   font-size: 20px;
   color: #8e8e8e;
}

.header-form__btn.fa-trash {
   font-size: 18px;
}

/* application-form__header =================================================================== */

.application-form__body {
   display: flex;
   flex-grow: 1;
}

.application-form__sidebar {
   align-self: flex-start;
   margin: 0px 10px 0px 0px;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
}

.sidebar-form__row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-width: 300px;
   min-height: 35px;
   padding: 0 15px;
   border-left: 4px solid #ffffff;
   background-color: #ffffff;
   cursor: pointer;
}

.sidebar-form__row:first-child {
   border-radius: 4px 0px 0px 0px;
}

.sidebar-form__row:last-child {
   border-radius: 0px 0px 0px 4px;
}

.sidebar-form__row.valid {
   border-color: #e8ffed;
   background-color: #e8ffed;
}

.sidebar-form__row.warning {
   border-color: #fefaef;
   background-color: #fefaef;
}

.sidebar-form__row.selected {
   border-color: #ffd354;
   background-color: #f2f2f2;
}


.sidebar-form__row.selected.sidebar-form__row.valid {
   border-color: #87c596;
   background-color: #ddfad9;
}

.sidebar-form__row.selected.sidebar-form__row.warning {
   background-color: #fef5da;
}

.sidebar-form__text {
   font-family: 'Roboto Condensed', sans-serif;
   color: #343a40;
}

.sidebar-form__icon {
   display: none;
   font-size: 22px;
   color: #87c596;
}

.sidebar-form__icon.valid {
   display: block;
   color: #87c596;
}

.sidebar-form__icon.warning {
   display: block;
   color: #ffd354;
}

.sidebar-form__icon.fa-exclamation {
   margin: 0px 7px 0px 0px;
}
/* application-form__sidebar =================================================================== */

.application-form__cards {
   flex-grow: 1;
}

.card-form {
   margin: 0px 0px 10px 0px;
   border-left: 4px solid #ffd354;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   background-color: #ffffff;
}

.card-form__header {
   display: flex;
   align-items: center;
   min-height: 35px;
   border-bottom: 1px solid #e0e0e0;
   color: #1c3959;
   user-select: none;
   cursor: pointer;
}


.card-form__title {
   flex-grow: 1;
   margin: 0px 0px 0px 10px;
   font-family: 'Roboto Condensed', sans-serif;
}

.card-form__icon-expand {
   margin: 0px 20px 0px 0px;
   font-size: 20px;
}

.arrow-up {
   transform: rotate(-180deg);
   transition: .3s;
}

.arrow-down {
   transform: rotate(0);
   transition: .3s;
}

/* card-form =================================================================== */

.card-form__body {
   /**/
   max-height: 0;

   overflow: hidden;
   font-family: 'Roboto Condensed', sans-serif;
   color: #343a40;
   transition: .3s;
}

.body-card.fas {
   margin-right: 5px;
}

.body-card__row {
   display: flex;
   align-items: center;
   position: relative;
   margin: 0px 20px;
   padding: 10px 0px;
}

.body-card__row.center {
   align-items: center;
}

.body-card__title {
   text-align: right;
   width: 30%;
   margin: 0px 20px 0px 0px;
}

.body-card__row[data-required='true'] > .body-card__title:after {
   content: '*';
   color: #bd4949;
}

.body-card__title.fas {
   font-size: 12px;
   color: #343a40;
}

.body-card__item {
   /*flex-grow: 1;*/
   width: 70%;
}

.body-card__field {
   display: flex;
   align-items: center;
}

.body-card__select {
   box-sizing: border-box;
   display: flex;
   align-items: center;
   flex-grow: 1;
   padding: 10px;
   border: 1px solid #cccccc;
   border-radius: 4px;
   font-size: 14px;
   color: #6e6e6e;
   cursor: pointer;
   transition: box-shadow .10s;
}

.body-card__select.filled {
   color: #343a40;
}

.body-card__select:hover,
.body-card__add-button:hover {
   box-shadow: 0px 0px 0px 3px rgba(191, 222, 255, 1);
   border-color: #80bdff;
}

.body-card__value {
   flex-grow: 1;
}

.body-card__input {
   box-sizing: border-box;
   width: 100%;
}

.body-card__error {
   display: none;
   font-size: 12px;
   color: #bd4949;
}

.body-card__error.active {
   display: inline;
}

.body-card__input-error {
   visibility: hidden;
   font-size: 12px;
   color: #bd4949;
}

.body-card__input-error.active {
   visibility: visible;
}

.body-card__icon.fa-bars {
   margin: 0px 5px 0px 0px;
}

.body-card__icon.fa-file {
   font-size: 16px;
}

.body-card__select.invalid,
.body-card__input.invalid {
   border-color: #db5151;
   color: #bd4949;
}

.body-card__select.invalid:hover,
.body-card__select.invalid:focus,
.body-card__input.invalid:hover,
.body-card__input.invalid:focus {
   box-shadow: 0px 0px 0px 3px rgba(255,176,176,1);
}

.body-card__icon-clear {
   margin: 0px 0px 0px 2px;
   padding: 10px;
   border: #ffffff solid 2px;
   border-radius: 4px;
   color: #6e6e6e;
   cursor: pointer;
   transition: 0.15s;
}

.body-card__icon-clear.fa-calendar-times{
   font-size: 18px;
}

.body-card__icon-clear:hover {
   border-color: #ffb0b0;
   background-color: #ffb0b0;
   color: #a93d3d;
}

.body-card__message {
   display: flex;
   align-items: center;
   padding: 15px 10px;
   font-family: 'Roboto Condensed', sans-serif;

}

.body-card__message-icon {
   margin: 0px 10px 0px 10px;
   font-size: 22px;
   color: #bd4949;
}

.body-card__message-text {
   color: #343a40;
   cursor: default;
}

/* card-form =================================================================== */

/* tmp ========================================================================= */

.save-modal {
   padding: 10px;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 18px;
   color: #343a40;
}

.save-modal__info {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 0px;
}

.save-modal__icon {
   font-size: 22px;
   color: #87c596;
   margin: 0px 10px 0px 0px;
}

.save-modal__actions {
   display: flex;
   padding: 10px 0px 0px;
}

.save-modal__link {
   flex-grow: 1;
}

.save-modal__close {
   flex-grow: 1;
   margin: 0px 10px 0px 0px;
}







.multiple-block__text {
   /*margin: 0px 10px 0px 0px;*/

}

.multiple-block__icon {
   font-size: 18px;
}

.multiple-block__actions {
   display: flex;
   justify-content: center;

}

.multiple-block__add,
.multiple-block__button {
   max-width: 300px;
   margin: 10px;
   justify-content: space-between;

   box-sizing: border-box;
   display: flex;
   align-items: center;
   flex-grow: 1;
   padding: 10px;
   border: 1px solid #cccccc;
   border-radius: 4px;
   font-size: 14px;
   color: #6e6e6e;
   cursor: pointer;
   transition: box-shadow .10s;
}

.multiple-block__add:hover,
.multiple-block__button:hover {
   box-shadow: 0px 0px 0px 3px rgba(191, 222, 255, 1);
   border-color: #80bdff;
}

.multiple-block__short {
   margin: 10px;
   display: flex;
   align-items: center;
}


.multiple-block__info {

   box-sizing: border-box;
   display: flex;
   align-items: center;
   /*flex-grow: 1;*/
   padding: 10px;
   border: 1px solid #cccccc;
   border-radius: 4px;
   font-size: 14px;
   color: #6e6e6e;
   cursor: pointer;
   transition: box-shadow .10s;

}

.multiple-block__info:hover {
   box-shadow: 0px 0px 0px 3px rgba(191, 222, 255, 1);
   border-color: #80bdff;
}

.multiple-block__delete {
   margin: 0px 0px 0px 2px;
   padding: 10px;
   border: #ffffff solid 2px;
   border-radius: 4px;
   color: #6e6e6e;
   cursor: pointer;
   transition: 0.15s;
}


.multiple-block__delete:hover {
   border-color: #ffb0b0;
   background-color: #ffb0b0;
   color: #a93d3d;
}

.body-card__block[data-name='part']:not(:last-child) {
   border-bottom: 2px solid #93b0d1;
}


[data-active='false'] {
   display: none;
}


/**/

/* tmp ========================================================================= */












