.application-header {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   display: flex;
   justify-content: space-between;
   margin: 0 0 10px 0;
   min-height: 50px;
}

.application-header__title {
   align-self: center;
   font-family: 'Bebas Neue', sans-serif;
   font-size: 20px;
   font-weight: 700;
   margin: 0 0 0 20px;
}

.application-header__actions {
   display: flex;
}

.application-header__button {
   align-items: center;
   border-bottom: 2px solid #fff;
   cursor: pointer;
   display: flex;
   padding: 0 15px;
   /*transition: background-color 0.15s;*/
   transition: background-color, border-color 0.15s;
}

.application-header__button:hover {
   background-color: #f2f2f2;
   border-bottom: 2px solid #ffd354;
}

.application-header__text {
   font-family: 'PT Sans Narrow', sans-serif;
   font-size: 18px;
   margin: 0 15px 0 0;
}

.application-header__icon-save {
   color: #8e8e8e;
   font-size: 20px;
}

.application-header__icon-delete {
   color: #8e8e8e;
   font-size: 18px;
}

/* application-form__header =================================================================== */

.application-form {
   align-items: flex-start;
   display: flex;
   flex-grow: 1;
}

.application-form__sidebar {
   margin: 0 10px 0 0;
   /*max-width: 20%;*/
   min-width: 300px;
   width: 300px;
}

.sidebar-form {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   cursor: pointer;
}

.sidebar-form__row {
   border-left: 4px solid #fff;
   padding: 7px 15px;
}

.sidebar-form__row:first-child {
   border-radius: 4px 4px 0 0;
}

.sidebar-form__row:last-child {
   border-radius: 0 0 4px 4px;
}

.sidebar-form__row.valid {
   background-color: #e8ffed;
   border-color: #e8ffed;
}

.sidebar-form__row.warning {
   background-color: #fefaef;
   border-color: #fefaef;
}

.sidebar-form__row.selected {
   background-color: #f2f2f2;
   border-color: #ffd354;
}


.sidebar-form__row.selected.sidebar-form__row.valid {
   background-color: #ddfad9;
   border-color: #87c596;
}

.sidebar-form__row.selected.sidebar-form__row.warning {
   background-color: #fef5da;
}

.sidebar-form__icon {
   color: #87c596;
   display: none;
   font-size: 22px;
}

.sidebar-form__icon.valid {
   color: #87c596;
   display: block;
}

.sidebar-form__icon.warning {
   color: #ffd354;
   display: block;
}

.sidebar-form__icon.fa-exclamation {
   margin: 0 7px 0 0;
}

/* application-form__sidebar =================================================================== */

.application-form__cards {
   flex-grow: 1;
}

.card-form {
   background-color: #fff;
   border-left: 4px solid #93b0d1;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   margin: 0 0 10px 0;

   overflow: hidden;
}

.card-form[data-completed="true"] {
   border-color: #87c596;
}

.card-form[data-completed="true"] .card-form__icon-state {
   color: #87c596;
}

.card-form[data-completed="false"] {
   border-color: #e99a9a;
}

.card-form[data-completed="false"] .card-form__icon-state {
   color: #e28383;
}

.card-form__icon-state {
   font-size: 20px;
   margin: 0 0 0 15px;
}

.card-form__header {
   align-items: center;
   border-bottom: 1px solid #e0e0e0;
   color: #1c3959;
   cursor: pointer;
   display: flex;
   user-select: none;
}

.card-form__title {
   display: flex;
   flex-grow: 1;
   font-size: 16px;
   margin: 0 20px 0 10px;
   padding: 10px 0;
}

.card-form__icon-expand {
   font-size: 20px;
   margin: 0 20px 0 0;
}

/* card-form =================================================================== */

.card-form.fas {
   margin-right: 5px;
}

.form-field {
   align-items: center;
   display: flex;
   margin: 0 15px;
   padding: 10px 0;
   position: relative;
}

.form-field__title {
   margin: 0 20px 0 0;
   text-align: right;
   width: 30%;
}

.form-field[data-required='true'] .form-field__title::after {
   color: #bd4949;
   content: '*';
}

.form-field__item {
   width: 70%;
}

.form-field__body {
   align-items: center;
   display: flex;
}

/*todo вынести*/
.form-field__select {
   align-items: center;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   color: #6e6e6e;
   cursor: pointer;
   display: flex;
   flex-grow: 1;
   font-size: 14px;
   padding: 10px;
   transition: box-shadow .10s;
}

.form-field__input {
   box-sizing: border-box;
   width: 100%;
}

.form-field.filled .form-field__select {
   background-color: #f9fafe;
   border-color: #818e9a;
   color: #1c3959;
}

.form-field.filled .form-field__select:hover {
   border-color: #80bdff;
}

.form-field.filled .form-field__icon-misc {
   display: none;
}

.form-field__icon-filled {
   color: #1c3959;
   display: none;
   margin: 0 5px 0 10px;
}

.form-field.filled .form-field__icon-filled,
.form-field__body.filled .form-field__icon-filled {
   display: block;
}

.form-field__select:hover,
.card-form__add-button:hover {
   border-color: #80bdff;
   box-shadow: 0 0 0 3px rgba(191, 222, 255, 1);
}

.form-field__value {
   flex-grow: 1;
}

.form-field__error {
   color: #bd4949;
   display: none;
   font-size: 12px;
   margin: 2px 0 0 0;
}


.card-form__icon.fa-file {
   font-size: 16px;
}

.form-field__select.invalid,
.form-field__input.invalid{
   border-color: #db5151;
   color: #bd4949;
}

.form-field__select.invalid:hover,
.form-field__select.invalid:focus,
.form-field__input.invalid:hover,
.form-field__input.invalid:focus {
   box-shadow: 0 0 0 3px rgba(255, 176, 176, 1);
}

.field.invalid .form-field__error {
   display: block;
}

.form-field__icon-clear {
   border: #fff solid 2px;
   border-radius: 4px;
   color: #a33c3c;
   cursor: pointer;
   margin: 0 0 0 3px;
   padding: 8px;
   transition: .15s;
}

.form-field__icon-clear.fa-calendar-times {
   font-size: 18px;
}

.form-field__icon-clear:hover {
   background-color: #ffb0b0;
   border-color: #ffb0b0;
   color: #a93d3d;
}

.card-form__message {
   align-items: center;
   display: flex;
   padding: 15px 10px;
}

.card-form__icon-message {
   color: #bd4949;
   font-size: 22px;
   margin: 0 10px 0 10px;
}

.card-form__message-text {
   cursor: default;
}

/* card-form =================================================================== */
/* save-modal =================================================================== */

/*todo объединить с alert-modal*/
.save-modal {
   font-size: 18px;
   padding: 10px;
}

.save-modal__info {
   align-items: center;
   display: flex;
   justify-content: center;
   padding: 10px 0;
}

.save-modal__icon {
   color: #87c596;
   font-size: 22px;
   margin: 0 10px 0 0;
}

.save-modal__actions {
   display: flex;
   padding: 10px 0 0;
}

.save-modal__link {
   flex-grow: 1;
}

.save-modal__close {
   flex-grow: 1;
   margin: 0 10px 0 0;
}

/*================*/

.alert-modal {
   font-size: 18px;
   padding: 10px;
}

.alert-modal__info {
   align-items: center;
   display: flex;
   justify-content: center;
   padding: 10px;
}

.alert-modal__icon {
   color: #87c596;
   font-size: 22px;
   margin: 0 10px 0 0;
}

.alert-modal__icon.warning {
   color: #bd4949;
}


.alert-modal__actions {
   display: flex;
   padding: 10px 0 0;
}

.alert-modal__button {
   flex-grow: 1;
}

.alert-modal__button:first-child {
   margin: 0 10px 0 0;
}

/* save-modal =================================================================== */

/* tmp ========================================================================= */

[data-active='false'] {
   display: none;
}

/* tmp ========================================================================= */

.field.filled .form-field__select.file-select {
   border-radius: 4px 4px 0 0;
}

.documentation__files .files__item:first-child {
   border-top: 1px solid #e0e0e0;
}

.form-field__files {
   border-radius: 0 0 4px 4px;
   border: 1px solid #818e9a;
   border-top: 0;
   display: none;
}

.field.filled .form-field__files {
   display: block;
}

.files__item:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.form-field__files .files__item:not(:last-child) {
   border-color: #818e9a;
}

