.modal.file-modal {
   height: 550px;
}

.file-modal__drop-area {
   flex-grow: 1;
   margin: 3px;
   padding: 2px 2px 0px 0px;
   border: 1px solid #ffffff;
}

.file-modal__drop-area.active {
   border: 1px dashed #343a40;
   border-radius: 3px;
}

.file-modal__header {
   display: flex;
   align-items: center;
   position: relative;
   height: 40px;
   border-bottom: 2px solid #ffd354;
   cursor: default;
   font-size: 18px;
}

.file-modal__title {
   margin: 0px 0px 0px 10px;
}

.file-modal__progress_bar {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   height: 40px;
   width: 0;
   background-color: #FFE69D;
   transition: .15s;
}

.file-modal__body {
   flex-grow: 1;
   max-height: 440px;
   overflow-y: auto;
   overflow-x: hidden;
}

.file-modal__item {
   display: flex;
   align-items: center;
   padding: 6px 0px 6px 10px;
   margin: 0px 6px;
   cursor: default;
   transition: .15s;
   border-radius: 4px;
}

.file-modal__icon {
   font-size: 20px;
   margin: 0px 10px 0px 0px;
   cursor: pointer;
   /*color: #6e6e6e;*/
   color: #287ab8;
}

.file-modal__item:hover {
   background-color: #f2f2f2;
}

.file-modal__size {
   font-size: 14px;
   color: #6e6e6e;
}

.file-modal__delete-icon {
   font-size: 20px;
   cursor: pointer;
   margin: 0px 10px;
}

.file-modal__actions {
   width: 500px;
   display: flex;
   justify-content: space-between;
   border-top: 2px solid #ffd354;
}


.file-modal__button {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-grow: 1;
   height: 50px;
   background-color: #ffffff;
   cursor: pointer;
   transition: .15s;
}

.file-modal__button:first-child {
   border-radius: 0px 0px 0px 3px;
}

.file-modal__button:last-child {
   border-radius: 0px 0px 3px 0px;
}

.file-modal__button:hover {
   background-color: #f2f2f2;
}

/*file-modal===================================*/

.files {
   box-sizing: border-box;
   display: none;
   flex-grow: 1;
   /*padding: 5px;*/
   border: 1px solid #cccccc;
   font-size: 14px;
   color: #6e6e6e;
   cursor: pointer;
   transition: box-shadow .10s;
   border-top: 0px;
   border-radius: 0px 0px 4px 4px;
}

.files.filled {
   display: block;
}

.field-select.modal-file.filled {
   border-radius: 4px 4px 0px 0px;
   color: #6e6e6e;
}

.files__info {

   display: flex;
   align-items: center;
   /*justify-content: space-between;*/
   flex-grow: 1;



   /*padding: 8px 10px;*/
   padding: 3px 10px;


   margin: 0px 5px 0px 0px;


   transition: .15s;
   border-radius: 4px;
   cursor: pointer;


}

.files__info:hover {
   background-color: #f2f2f2;

   /*background-color: #E3EFFF;*/
}




.files__icon {
   font-size: 18px;
   margin: 0px 10px 0px 0px;
   cursor: pointer;
   color: #6e6e6e;
}



.files__delete,
.files__unload,
.files__sign {
   padding: 8px;
   border: 2px solid #ffffff;
   border-radius: 4px;
   color: #6e6e6e;
   cursor: pointer;
   transition: 0.15s;
   font-size: 16px;
}

.files__delete:hover {
   border-color: #ffb0b0;
   background-color: #ffb0b0;
   color: #a93d3d;
}

.files__unload:hover,
.files__sign:hover {
   border-color: #A4D0FF;
   background-color: #A4D0FF;
   color: #287DD8;
}

.files__item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 8px;
}

.files__item:not(:last-child) {
   border-bottom: 1px solid #e1e1e1;
}


/*tmp========*/

.files__actions {
   display: flex;
}

.files__actions > .fas {
   font-size: 18px;
   /*color: #287ab8;*/

}

.files__unload {
   /*color: #287ab8;*/
}

.files__delete {
   /*color: #db5151;*/
}

.files__name {
   flex-grow: 1;
   font-size: 16px;
   word-break: break-all;
   margin: 0px 8px 0px 0px;
}

.files__description {
   /*display: flex;*/
   /*align-items: center;*/
   margin: 0px 10px 0px 0px;
}

.files__state {
   font-size: 14px;
   display: flex;
   align-items: center;
   padding: 7px;
   border-radius: 3px;

   transition: .15s;
}

.files__item[data-state='checking'] > .files__state {
   background-color: #E3EFFF;
   border: 1px solid #CAD6E7;
   color: #6A7E9A;
}

.files__item[data-state='checking'] > .files__state:hover {
   background-color: #D4E4FA;
}

.files__item[data-state='valid'] > .files__state {
   background-color: #ddfad9;
   border: 1px solid #C5E6C1;
   color: #537A5D;
}

.files__item[data-state='valid'] > .files__state:hover {
   background-color: #D9F0D6;
}

.files__item[data-state='not_signed'] > .files__state {
   background-color: #FFE3E3;
   border: 1px solid #E8CBCB;
   color: #A57474;
}

.files__item[data-state='not_signed'] > .files__state:hover {
   background-color: #F8DCDC;
}

.files__item[data-state='warning'] > .files__state {
   background-color: #FCF4D9;
   border: 1px solid #E4DAB7;
   color: #9F8E53;
}

.files__item[data-state='warning'] > .files__state:hover {
   background-color: #F7ECC7;
}


.files__state-icon {
   margin: 0px 3px 0px 0px;

}

.files__state-text {

}


.files__icon {
   font-size: 20px;
   color: #254160;

}

.files__signs {
   display: none;
}

.files[data-depth='1'] > .files__item {
   padding-left: 40px;
}

.files[data-depth='2'] > .files__item {
   padding-left: 65px;
}


/*tmp============*/












