.files {
   flex-grow: 1;
}

.files__item {
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding: 3px;
   transition: background-color 0.5s;
}

.files__info {
   align-items: center;
   border-radius: 4px;
   cursor: pointer;
   display: flex;
   flex-grow: 1;
   margin: 0 5px 0 0;
   padding: 3px 8px;
   transition: .15s;
}

.files__info:hover {
   background-color: #f2f2f2;
}

.files__state-text {
   white-space: nowrap;
}

.files__icon {
   color: #3b516b;
   cursor: pointer;
   font-size: 20px;
   margin: 0 7px 0 0;
}

.files__actions {
   display: flex;
   margin: 0 0 0 3px
}

.files__action {
   border-radius: 4px;
   color: #6e6e6e;
   cursor: pointer;
   font-size: 16px;
   padding: 5px;
   transition: background-color 0.15s;
}

.files__action.delete {
   color: #a33c3c;
}

.files__action.delete:hover {
   background-color: #ffb0b0;
   color: #a93d3d;
}

.files__action:hover,
.files__sign:hover {
   background-color: #a4d0ff;
   border-color: #a4d0ff;
   color: #287dd8;
}

.files__item:not(:last-child) {
   border-bottom: 1px solid #e1e1e1;
}

.files__name {
   flex-grow: 1;
   word-break: break-word;
}

.files__size {
   color: #6e6e6e;
   font-size: 12px;
}

.files__description {
   display: flex;
   flex-direction: column;
}

.files__state {
   align-items: center;
   border-radius: 3px;
   cursor: pointer;
   display: flex;
   font-size: 14px;
   padding: 7px;
   transition: .15s;
}

.files__item[data-state='checking'] .files__state {
   background-color: #e3efff;
   border: 1px solid #cad6e7;
   color: #6a7e9a;
}

.files__item[data-state='checking'] .files__state:hover {
   background-color: #d4e4fa;
}

.files__item[data-state='valid'] .files__state {
   background-color: #ddfad9;
   border: 1px solid #c5e6c1;
   color: #537a5d;
}

.files__item[data-state='valid'] .files__state:hover {
   background-color: #d9f0d6;
}

.files__item[data-state='not_signed'] .files__state,
.files__item[data-state='invalid'] .files__state {
   background-color: #ffe3e3;
   border: 1px solid #e8cbcb;
   color: #a57474;
}

.files__item[data-state='not_signed'] .files__state:hover,
.files__item[data-state='invalid'] .files__state:hover {
   background-color: #f9dada;
}

.files__item[data-state='warning'] .files__state {
   background-color: #fcf4d9;
   border: 1px solid #e4dab7;
   color: #9f8e53;
}

.files__item[data-state='warning'] .files__state:hover {
   background-color: #f7ecc7;
}

.files__state-icon {
   margin: 0 3px 0 0;
}

.files__state[data-type='short'] .files__state-icon {
   margin: unset;
}

.files[data-depth='0'] .files__item {
   padding-left: 10px;
}

.files[data-depth='1'] .files__item {
   padding-left: 35px;
}

.files[data-depth='2'] .files__item {
   padding-left: 60px;
}

.files[data-depth='3'] .files__item {
   padding-left: 90px;
}












