.files {
   border-radius: 0px 0px 4px 4px;
}

.field-select.modal-file.filled {
   border-radius: 4px 4px 0px 0px;
}

.files__info {
   display: flex;
   align-items: center;
   flex-grow: 1;
   padding: 3px 10px;
   margin: 0px 5px 0px 0px;
   transition: .15s;
   border-radius: 4px;
   cursor: pointer;
}

.files__info:hover {
   background-color: #f2f2f2;
}

.files__icon {
   font-size: 20px;
   margin: 0px 10px 0px 0px;
   cursor: pointer;

   color: #3b516b;
}

.files__actions {
   display: flex;
   margin: 0px 0px 0px 10px;
}

.files__actions > .fas {
   padding: 5px;
}

.files__delete,
.files__unload,
.files__sign {
   padding: 8px;
   border: 2px solid #ffffff;
   border-radius: 4px;
   color: #6e6e6e;
   cursor: pointer;
   transition: 0.15s;
   font-size: 16px;
}

.files__delete {
   color: #a33c3c;
}

.files__delete:hover {
   border-color: #ffb0b0;
   background-color: #ffb0b0;
   color: #a93d3d;
}

.files__unload:hover,
.files__sign:hover {
   border-color: #A4D0FF;
   background-color: #A4D0FF;
   color: #287DD8;
}

.files.filled {
   display: block;
}


.files__item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 8px;

   transition: 0.5s;
}

.files__item:not(:last-child) {
   border-bottom: 1px solid #e1e1e1;
}

.files__name {
   flex-grow: 1;
   word-break: break-all;
}

.files__size {
   font-size: 12px;
   color: #6e6e6e;
}

.files__description {
   display: flex;
   flex-direction: column;
   margin: 0px 10px 0px 0px;
}

.files__state {
   font-size: 14px;
   display: flex;
   align-items: center;
   padding: 7px;
   border-radius: 3px;
   cursor: pointer;
   transition: .15s;
}

.files__item[data-state='checking'] > .files__state {
   background-color: #E3EFFF;
   border: 1px solid #CAD6E7;
   color: #6A7E9A;
}

.files__item[data-state='checking'] > .files__state:hover {
   background-color: #D4E4FA;
}

.files__item[data-state='valid'] > .files__state {
   background-color: #ddfad9;
   border: 1px solid #C5E6C1;
   color: #537A5D;
}

.files__item[data-state='valid'] > .files__state:hover {
   background-color: #D9F0D6;
}

.files__item[data-state='not_signed'] > .files__state,
.files__item[data-state='invalid'] > .files__state {
   background-color: #FFE3E3;
   border: 1px solid #E8CBCB;
   color: #A57474;
}

.files__item[data-state='not_signed'] > .files__state:hover,
.files__item[data-state='invalid'] > .files__state:hover {
   background-color: #F9DEDE;
}

.files__item[data-state='warning'] > .files__state {
   background-color: #FCF4D9;
   border: 1px solid #E4DAB7;
   color: #9F8E53;
}

.files__item[data-state='warning'] > .files__state:hover {
   background-color: #F7ECC7;
}

.files__state-icon {
   margin: 0px 3px 0px 0px;
}

.files[data-depth='0'] > .files__item {
   padding-left: 10px;
}

.files[data-depth='1'] > .files__item {
   padding-left: 35px;
}

.files[data-depth='2'] > .files__item {
   padding-left: 60px;
}

.files[data-depth='3'] > .files__item {
   padding-left: 90px;
}












