.file-modal {
   height: 550px;
}

.file-modal__drop-area {
   border: 1px solid #fff;
   flex-grow: 1;
   margin: 3px;
   padding: 2px 2px 0 0;
}

.file-modal__drop-area.active {
   border: 1px dashed #343a40;
   border-radius: 3px;
}

.file-modal__header {
   align-items: center;
   border-bottom: 2px solid #ffd354;
   cursor: default;
   display: flex;
   font-size: 18px;
   height: 40px;
   position: relative;
}

.file-modal__title {
   margin: 0 0 0 10px;
}

.file-modal__progress_bar {
   background-color: #ffe69d;
   height: 40px;
   left: 0;
   position: absolute;
   top: 0;
   transition: .15s;
   width: 0;
   z-index: -1;
}

.file-modal__body {
   flex-grow: 1;
   max-height: 440px;
   overflow-x: hidden;
   overflow-y: auto;
}

.file-modal__item {
   align-items: center;
   border-radius: 4px;
   cursor: default;
   display: flex;
   margin: 0 6px;
   padding: 6px 0 6px 10px;
   transition: .15s;
}

.file-modal__icon {
   color: #254160;
   cursor: pointer;
   font-size: 20px;
   margin: 0 10px 0 0;
}

.file-modal__item:hover {
   background-color: #f2f2f2;
}

.file-modal__size {
   color: #6e6e6e;
   font-size: 14px;
}

.file-modal__delete-icon {
   cursor: pointer;
   font-size: 20px;
   margin: 0 10px;
}

.file-modal__actions {
   border-top: 2px solid #ffd354;
   display: flex;
   justify-content: space-between;
   width: 500px;
}


.file-modal__button {
   align-items: center;
   background-color: #fff;
   cursor: pointer;
   display: flex;
   flex-grow: 1;
   height: 50px;
   justify-content: center;
   transition: .15s;
}

.file-modal__button:first-child {
   border-radius: 0 0 0 3px;
}

.file-modal__button:last-child {
   border-radius: 0 0 3px 0;
}

.file-modal__button:hover {
   background-color: #f2f2f2;
}
