.group-modal {
   height: 98%;
   max-width: 1655px;
   min-width: 1024px;

   overflow: hidden;

   top: 50%;

   background-color: unset;
   /*flex-direction: row;*/
}

/*
.group-modal ::-webkit-scrollbar {
   background: #9db4d0;
}
*/

.group-modal ::-webkit-scrollbar-thumb {
   background: #9db4d0;
}

.group-modal__wrapper {
   border-radius: 4px;
   overflow: hidden;
   /*margin: 0 3px 0 0;*/
   /*width: 50%;*/

}

.group-modal__comments {
   /*flex-grow: 1;*/
   /*border-right: 2px solid #93b0d1;*/
   width: 50%;
   margin: 0 3px 0 0;


   background-color: #f2f2f2;
   overflow-y: auto;
   /*border-radius: 4px;*/
}

.group-modal__messages {
   background-color: #f2f2f2;
   /*color: #343a40;*/
   overflow-y: auto;
   padding: 10px 0 0 0;
   width: 50%;
   /*border-radius: 4px;*/
}

.group-modal__comment {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
   font-size: 14px;
   /*margin: 5px 10px;*/
   margin: 10px;
   overflow: hidden;
   border-left: 3px solid #93b0d1;

}
/*
.group-comment__header {
   border-bottom: 1px solid #e0e0e0;
   padding: 10px;
}*/

.group-comment__header > * {
   border-bottom: 1px solid #e0e0e0;
   padding: 10px;
}

.group-modal__body {
   display: flex;
   flex-grow: 1;
   overflow: hidden;
   color: #343a40;

}



.group-message {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   font-size: 14px;
   margin: 0 30px 10px 5px;
   overflow: hidden;
}


.group-message:nth-child(odd) {
   justify-self: flex-end;
   margin: 0 5px 10px 30px;
}

.group-message:nth-child(odd) .group-message__icon {
/*.group-message:nth-child(even) .files__icon {*/
   color: #AD6B70;
}

.fa-clock {
   display: none;
}

.group-modal__header {
   align-items: center;
   /*padding: 10px;*/
   min-height: 50px;

   /*border-bottom: 2px solid #93b0d1;*/
   color: #343a40;
   display: flex;
   justify-content: space-between;
   padding: 0 10px 0 3px;

   background-color: #fff;
   margin: 0 0 3px 0;
   border-radius: 4px;
}

.group-message__header {
   border-bottom: 1px solid #e0e0e0;
   display: flex;
   /*padding: 7px 10px;*/
}

.group-modal__actions {
   display: flex;
}

.group-message__item {
   align-items: center;
   display: flex;
   /*padding: 10px;*/
   padding: 7px 10px;
}

.group-message__text {

}

.group-message__body {
   /*padding: 7px 10px;*/
}

.group-message__body .group-message__item:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.group-message__header .group-message__item:not(:last-child) {
   border-right: 1px solid #e0e0e0;
}

.group-message__icon {
   color: #6081a8;
   margin: 0 5px 0 0;
}

.group-message__date {
   white-space: nowrap;
}

.group-modal__action.form-button {
   min-width: 130px;
}

[data-active='false'] {
   display: none;
}

.group-message__file {
   display: flex;
   align-items: center;
   padding: 0 5px 0 3px;
}

.group-message__file .files__icon {
   color: #6081a8;
   font-size: 16px;
   margin: 0 5px 0 0;
}

.group-message__file .files__info {
   padding: 0 5px;
}

.group-comment__form {
   display: flex;
   flex-direction: column;
}

.group-comment__field:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

textarea.group-comment__field {
   padding: 10px;
}

/*.group-comment.selected {
   border-left: 3px solid #93b0d1;
}*/

.group-comment__no-replace {
   padding: 10px;
}

.group-comment__no-replace .radio__text {
   font-size: 14px;
}

.group-comment__no-replace .radio__icon {
   font-size: 16px;
   margin: 0 5px 0 0;
}

.group-comment__description {
   display: flex;
   align-items: center;
}

.group-comment__icon {
   color: #6081a8;
   margin: 0 7px 0 0;
}

/*
.fa-clock {
   display: none;
}

.fa-user {
   display: none;
}

*/














