header {
   display: flex;
   align-items: center;
   min-height: 50px;
   margin: 0px 0px 10px 0px;
   font-family: 'Roboto Condensed', sans-serif;
   border-radius: 0px 0px 4px 4px;
   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.22);
   background-color: #1c3959;
   color: #ffd354;
}

.header__logo {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.header__logo-text {
   font-size: 18px;
   line-height: 20px;
}

.header__subtitle {
   font-weight: 300;
}

.header__logo img {
   max-height: 44px;
   padding: 0px 10px 0px 15px;
}

.header__user {
   text-align: right;
   flex-grow: 1;
   margin: 0px 15px 0px 0px;
   font-size: 20px;
   cursor: default;
}

.header__icon {
   margin: 0px 15px 0px 0px;
   font-size: 22px;
   color: #ffd354;
   transition: color 0.15s;
}

.header__icon:hover {
   color: #ffffff;
}
