@font-face {
   font-family: 'PT Sans Narrow';
   src: url('/views/css/fonts/PT_Sans_Narrow.ttf');
}

@font-face {
   font-family: 'Roboto Condensed';
   src: url('/views/css/fonts/RobotoCondensed-Light.ttf');
}

@font-face {
   font-family: 'Roboto Condensed';
   src: url('/views/css/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
   font-family: 'Bebas Neue';
   src: url('/views/css/fonts/BebasNeue_Regular.ttf');
}

@font-face {
   font-family: 'Bebas Neue';
   src: url('/views/css/fonts/BebasNeue Bold.ttf');
}

html,
body {
   height: 100%;
}

body {
   background-color: #f2f2f2;
}

main {
   flex-grow: 1;
}

button {
   background-color: #ffffff;
}

.main-container {
   display: flex;
   flex-direction: column;
   min-width: 1024px;
   max-width: 1655px;
   height: 100%;
   margin: 0 auto;
}

.application-input {
   /*padding: 12px;*/
   padding: 10px 12px;
   border: 1px solid #cccccc;
   border-radius: 4px;
   color: #343a40;
   transition: .10s;

   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
   font-size: 14px;
}

.application-text-area {
   min-height: 60px;
   padding: 8px;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 14px;
   resize: vertical;
   transition: box-shadow .10s;
}

.application-input:focus,
.application-input:hover {
   box-shadow: 0px 0px 0px 3px rgba(191, 222, 255, 1);
   border-color: #80bdff;
}



/* Общие элементы*/


.application-button {
   height: 36px;
   width: 126px;
   border-radius: 3px;
   /*border: #343a40 1px solid;*/
   color: #ffffff;
   background-color: #5181b8;
   cursor: pointer;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 16px;
   transition: background-color .15s;
}

.application-button:hover {
   background-color: #4574AA;
}