.modal,
.alert-modal {
   opacity: 0;
   visibility: hidden;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   width: 100%;
   max-width: 500px;

   /*min-height: 500px;*/

   position: fixed;

   /*top: 500px;*/
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 50;

   /*padding: 30px 30px 20px;*/

   border-radius: 3px;
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
   background-color: #ffffff;
   transition: 0.3s all;
}

.modal-overlay {
   opacity: 0;
   visibility: hidden;

   width: 100%;
   height: 100%;

   position: fixed;
   top: 0;
   left: 0;

   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}

.alert-modal {
   /*display: flex;*/

   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   font-family: 'Roboto Condensed', sans-serif;
   /*min-height: 50px;*/
}

.alert-modal__icon {
   margin: 0px 0px 0px 20px;
   color: #bd4949;
   font-size: 24px;
}

.alert-modal__message {
   padding: 15px 25px 15px 15px;
   font-size: 18px;
   cursor: default;
}

.alert-modal.active,
.modal.active,
.modal-overlay.active,
.modal__close.active
{
   opacity: 1;
   visibility: visible;
}

.modal__close {

   opacity: 0;
   visibility: hidden;

   /*width: 30px;*/
   /*height: 30px;*/
   position: absolute;
   /*top: -35px;*/
   /*right: -37px;*/
   top: -23px;
   right: -25px;
   cursor: pointer;
   font-size: 26px;
   color: #343a40;
   background-color: #ffffff;
   padding: 5px 10px 5px 10px;
   border-radius: 3px;
   /*border: #f2f2f2 solid 1px;*/
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
   /*transition: .3s all;*/
}




.modal__page {
   display: none;
   flex-direction: column;
}

.modal__page.active {
   display: flex;
}

.modal__item {
   /*margin: 10px 0px;*/
   padding: 15px 25px;
   /*border-bottom: #8e8e8e solid 1px;*/
   cursor: pointer;

   transition: 0.15s;
}




.modal__item:hover {
   background-color: #f2f2f2;
}

.modal__pagination {
   display: flex;
   justify-content: center;
}

.pagination__item {
   padding: 20px 0px;
   align-self: center;
   cursor: pointer;
   font-size: 18px;
}

.pagination__item.fa {
   padding: 20px 25px;
}

.pagination__arrow-left {
   visibility: hidden;
}



