.misc__page {
   display: none;
   flex-direction: column;
}

.misc__page.active {
   display: flex;
}

.misc__body {
   max-height: 500px;
   overflow-x: hidden;
   overflow-y: auto;
   scrollbar-width: thin;
}

.misc__item {
   cursor: pointer;
   padding: 15px 25px;
   transition: 0.15s;
}

.misc__item:hover {
   background-color: #f2f2f2;
}

.misc__item:last-child {
   border-radius: 0 0 4px 4px;
}

.misc__item:first-child {
   border-radius: 4px 0 0 0;
}

.misc__pagination {
   border-top: 1px solid #e0e0e0;
   display: flex;
   justify-content: center;
   opacity: 0;
   visibility: hidden;
}

.pagination__item {
   align-self: center;
   cursor: pointer;
   font-size: 18px;
   padding: 20px 0;
}

.pagination__item.fa {
   padding: 20px 25px;
}

.pagination__arrow-left {
   visibility: hidden;
}

/* tmp========================================= */



.misc ::-webkit-scrollbar-thumb {
   background: #93b0d1;
}

/* tmp========================================= */


.misc__wrapper {
   overflow: hidden;
   border-radius: 4px;
}















