.alert-modal {
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   font-family: 'Roboto Condensed', sans-serif;
   color: #343a40;
}

.alert-modal__icon {
   margin: 0px 0px 0px 20px;
   font-size: 24px;
   color: #bd4949;
}

.alert-modal__message {
   padding: 15px 25px 15px 15px;
   font-size: 18px;
   cursor: default;
}

.alert-modal.active,
.modal.active,
.modal-overlay.active,
.file-overlay.active,
.modal__close.active,
.modal.file-modal.active
{
   visibility: visible;
   opacity: 1;
}

.modal__page {
   display: none;
   flex-direction: column;
}

.modal__page.active {
   display: flex;
}

.modal__item {
   padding: 15px 25px;
   cursor: pointer;
   transition: 0.15s;
}

.modal__item:hover {
   background-color: #f2f2f2;
}

.modal__pagination {
   display: flex;
   justify-content: center;
}

.pagination__item {
   align-self: center;
   padding: 20px 0px;
   font-size: 18px;
   cursor: pointer;
}

.pagination__item.fa {
   padding: 20px 25px;
}

.pagination__arrow-left {
   visibility: hidden;
}

/* tmp========================================= */






/* tmp========================================= */


















