.multiple-block {
   display: flex;
   flex-direction: column;
}

.multiple-block__icon {
   font-size: 16px;
   margin: 0 0 0 15px;
}

.multiple-block__actions {
   display: flex;
   justify-content: center;
   margin: 0 0 10px 0;
}

.multiple-block__add.form-button {
   align-self: flex-start;
   margin: 10px;
   min-width: 280px;
}

.multiple-block__action.form-button {
   min-width: 280px;
}

.multiple-block__info.form-button {
   margin: unset;
}

.multiple-block__short {
   /*margin: 10px;*/
   align-items: center;
   display: flex;
   margin: 0 10px 5px;
}


.multiple-block__delete {
   border: #fff solid 2px;
   border-radius: 4px;
   color: #a93d3d;
   cursor: pointer;
   margin: 0 0 0 3px;
   padding: 8px;
   transition: 0.15s;
}

.multiple-block__delete:hover {
   background-color: #ffb0b0;
   border-color: #ffb0b0;
}

.multiple-block__part:not(.short) {
   border: 1px solid #e0e0e0;
   border-radius: 4px;
   margin: 20px;
}

.multiple-block__part.short > .multiple-block__title {
   display: none;
}

.multiple-block__title {
   background-color: #f6f8fa;
   /*font-weight: 700;*/
   border-bottom: 1px solid #e0e0e0;
   border-radius: 4px 4px 0 0;
   padding: 10px 15px;
}








