.navigation {
   display: flex;
}

.empty-block {
   flex-grow: 1;
}

.navigation__sidebar {
   cursor: pointer;

   margin: 0 10px 0 0;
   min-width: 200px;
   width: 20%;
}

.sidebar-navigation__block {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   margin: 0 0 10px 0;
}

.sidebar-navigation__block:last-child {
   margin: 0;
}

.sidebar-navigation__header {
   border-bottom: 2px solid #ffd354;
   font-size: 18px;
   padding: 8px 15px;
   /*border-bottom: 2px solid #1c3959;*/
   text-align: center;
   /*border-bottom: 2px solid #93b0d1;*/
}

.sidebar-navigation__section {
   display: flex;
   justify-content: space-between;
   padding: 10px 15px;
   transition: .1s;
}

.sidebar-navigation__section:hover {
   background-color: #f2f2f2;
}

/*navigation__table ===============================*/

.navigation__body {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   display: flex;
   flex-grow: 1;
   font-size: 14px;
   margin: 0 0 20px;
}

.navigation__table {
   flex-grow: 1;
}

.table-navigation__controller {
   border-bottom: 2px solid #93b0d1;
   display: flex;
   font-size: 14px;
}

.navigation-table__pagination {
   align-items: center;
   display: flex;
}

.pagination-table__arrow {
   color: #287ab8;
   padding: 10px 15px;
}

.pagination-table__arrow.inactive {
   color: #c2c2c2;
   cursor: default;

}

.pagination-table__current-page {
   cursor: default;
}

.navigation-table__size-header {
   display: flex;
   margin: 0 20px;
}

.navigation-table__amount {
   cursor: pointer;
   padding: 12px 15px;

}

.navigation-table__amount[data-is_selected='1'] {
   background-color: #93b0d1;
   color: #fff;
}

.navigation-table__sort-header {
   display: flex;
}

.navigation-table__category {
   cursor: pointer;
   padding: 12px 15px;
   transition: .1s;
}

.navigation-table__category:hover {
   background-color: #93b0d1;
   color: #fff;
}

.navigation-table__sort-icon {
   color: #287ab8;
   margin: 0 0 0 7px;
   transition: .1s;
}

.navigation-table__category:hover > .navigation-table__sort-icon {
   color: #fff;
}

.table-navigation__body {
   display: flex;
   flex-direction: column;
   width: 100%;

}

.table-navigation__row {
   border-bottom: 1px solid #e0e0e0;
   border-left: 4px solid #fff;
   border-right: 4px solid #fff;
   display: flex;
}

.table-navigation__row:nth-child(odd) {
   background-color: #f8f8f8;
   border-left: 4px solid #f8f8f8;
   border-right: 4px solid #f8f8f8;

}

.table-navigation__row:hover:not(.table-navigation__header) {
   background-color: #e3efff;
   border-left: 4px solid #93b0d1;
   border-right: 4px solid #93b0d1;
}

.table-navigation__title {

}

.table-navigation__column {
   cursor: default;
   padding: 10px 15px;
   width: 12%;
}

a.table-navigation__column {
   color: #274f7c;
   cursor: pointer;
}

.table-navigation__column:not(:last-child) {
   border-right: 1px solid #e0e0e0;
}

.table-navigation__header {
   font-weight: 700;
}

.table-navigation__icon-sort {
   color: #adadad;
}

.table-navigation__footer {
   border-top: 2px solid #93b0d1;
   padding: 5px 0;
}
















