.radio__body.inline {
   align-items: center;
   display: flex;
}

.radio__icon {
   font-size: 20px;
   margin: 0 10px 0 0;
}

.radio__body.inline .radio__icon {
   margin: 0 5px 0 0;
}

.radio__item {
   align-items: center;
   cursor: pointer;
   display: flex;
}

.radio__item.col:not(:last-child) {
   margin: 0 0 10px 0;
}

.radio__body.inline .radio__item {
   margin: 0 10px 0 0;
}

.radio__text {
   font-size: 14px;
}

.radio__title {
   display: block;
   font-size: 14px;
}

.radio__value {
   font-size: 15px;
}