/*.view-section,*/
.view-section__card {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   overflow: hidden;
}

.view-section__card {
   margin: 0 0 10px 0;
   /*border-left: 3px solid #93b0d1;*/

}

.view-section {
   flex-grow: 1;
   margin: 0 0 10px 0;
}

.view-section__header {
   align-items: center;
   background-color: #f6f8fa;
   /*border-bottom: 1px solid #e0e0e0;*/
   cursor: pointer;
   display: flex;
   padding: 10px 0;
   position: relative;
}

.view-section__body {
   border-top: 1px solid #e0e0e0;
}

.view-section__title {
   flex-grow: 1;
   font-weight: 700;
   padding: 0 10px;
   text-align: center;
}

.view-section__label {
   align-items: center;
   background-color: #fff;
   border: 1px solid #ccc;

   border-radius: 4px;
   display: flex;
   font-size: 14px;
   margin: 0 0 0 4px;
   padding: 5px 10px;
   position: absolute;
}

.view-section__icon-label {
   color: #3b516b;
   margin: 0 7px 0 0;
}

.view-section__amount {
   font-size: 16px;
   font-weight: 700;
}

.view-table {
   border: 1px solid #e0e0e0;
   border-radius: 4px;
   margin: 10px;
   overflow: hidden;
}

.view-table__header {
   border-bottom: 1px solid #e0e0e0;
   padding: 10px;

}

.view-section__description {
   padding: 10px;
}

.view-section__description table {
   border-collapse: collapse;
}

.view-table__row {
   display: flex;
   justify-content: space-between;
}

.view-table__row:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.view-table__column:not(:last-child) {
   /*display: flex;*/
   /*flex-direction: column;*/
   /*align-items: center;*/

   border-right: 1px solid #e0e0e0;
}

.view-table__item {
   padding: 10px;
}

.tep__header {
   padding: 10px;
}

.table_container {
   border: 1px solid #e0e0e0;
   border-radius: 4px;
   margin: 10px;
   overflow: hidden;

}

.view-section__description td,
.view-section__description th {
   /*border: solid #e0e0e0;*/
   /*border-width: 0 1px 1px 0;*/
   border: 1px solid #e0e0e0;
   padding: 5px;
}

.view-section__description {
   /*margin: 10px;*/
   /*border-bottom: 1px solid #e0e0e0;*/
}


.tep-table {
   font-size: 14px;
}

.tep-table__header {
   display: grid;
   /*border: 1px solid #e0e0e0;*/
   grid-template-columns: 1fr 1fr 2fr 2fr;

}

.tep-table__author {
   align-items: center;
   display: flex;
   justify-content: center;
}

.tep-table__body {
   background-color: #e0e0e0;
   display: grid;
   grid-gap: 1px;
   grid-template-columns: 1fr 5fr;
}

.tep-table__values {
   background-color: #e0e0e0;
   display: grid;

   grid-gap: 1px;

   grid-template-columns: 1fr 2fr 2fr;
}

.tep-table__item {
   background-color: #fff;
   padding: 5px;
   /*border-bottom: 1px solid #e0e0e0;*/
}

.tep-table__header .tep-table__item {
   border-bottom: 2px solid #93b0d1;
   font-weight: 700;
   text-align: center;
}

.tep-table__values .tep-table__item {
   /*border-left: 1px solid #e0e0e0;*/
}

.tep-table__values:last-child .tep-table__item,
.tep-table__author:last-child {
   border-bottom: none;
}

.tep-table__items {
   /*border-bottom: ;*/
}



