.action-info,
.description__card,
.section__indicator {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);

}

.description__text {
   color: red;
}

.action-info {
   padding: 10px 20px;
   margin: 0px 0px 10px;

   font-size: 16px;
}

.description {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   margin: 0px 0px 10px 0px;

}

.section__common-part {

   padding: 10px;
   margin: 0px 0px 10px;

}

.section__indicator {

}

.section__header {
   border-bottom: 1px solid #e0e0e0;
   padding: 10px 20px;
   font-weight: 700;
}

.section__body {
   padding: 10px 20px;
}



































