/*.view-section,*/
.view-section__card
{
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   overflow: hidden;
}

.view-section__card {
   margin: 0px 0px 10px 0px;
   /*border-left: 3px solid #93b0d1;*/

}

.view-section {
   flex-grow: 1;
   margin: 0px 0px 10px 0px;
}

.view-section__header {
   display: flex;
   align-items: center;
   border-bottom: 1px solid #e0e0e0;
   background-color: #f6f8fa;
   position: relative;
   padding: 10px 0px;
   cursor: pointer;

}

.view-section__title {
   flex-grow: 1;
   padding: 0px 10px;
   font-weight: 700;
   text-align: center;
}

.view-section__label {
   display: flex;
   padding: 5px 10px;
   margin: 0px 0px 0px 4px;

   align-items: center;
   border: 1px solid #cccccc;
   background-color: #ffffff;
   border-radius: 4px;
   font-size: 14px;
   position: absolute;
}

.view-section__icon-label {
   margin: 0px 7px 0px 0px;
   color: #3b516b;
}

.view-section__amount {
   font-weight: 700;
   font-size: 16px;
}

.view-table {
   margin: 10px;
   border: 1px solid #e0e0e0;
   border-radius: 4px;
   overflow: hidden;
}

.view-table__header {
   padding: 10px;
   border-bottom: 1px solid #e0e0e0;

}

.view-section__description {
   padding: 10px;
}

.view-table__row {
   display: flex;
   justify-content: space-between;
}

.view-table__row:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
}

.view-table__column:not(:last-child)  {
   /*display: flex;*/
   /*flex-direction: column;*/
   /*align-items: center;*/
   border-right: 1px solid #e0e0e0;
}

.view-table__item {
   padding: 10px;
}

.tep__header {
   padding: 10px;
}

.table_container {
   border: 1px solid #e0e0e0;
   overflow: hidden;
   border-radius: 4px;
   margin: 10px;

}

.tep-table,
.view-section__description table {
   font-size: 14px;
   margin: 10px;

   color: #343a40;
   width: calc(100% - 20px);
   /*width: 100%;*/
   border: 1px solid #e0e0e0;
   border-collapse: collapse;

}

.tep-table__header {
   border-bottom: 2px solid #93b0d1;
}

.tep-table__author {
   width: 15%;
}

.tep-table td,
.view-section__description td,
.tep-table th,
.view-section__description th
{
   /*border: solid #e0e0e0;*/
   /*border-width: 0 1px 1px 0;*/
   border: 1px solid #e0e0e0;
   padding: 5px;
}

.view-section__description {
   /*margin: 10px;*/
   /*border-bottom: 1px solid #e0e0e0;*/


}

















