.action-info,
.descriptive-part__card,
.section__indicator {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   overflow: hidden;
}

.action-info {
   font-size: 16px;
   margin: 0 0 10px;

   padding: 10px 20px;
   text-align: center;

}

.descriptive-part {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   margin: 0 0 10px 0;

}

.descriptive-part__card {
   border-left: 3px solid #93b0d1;
   margin: 0 0 10px 0;
}

.descriptive-part__header {
   background-color: #f6f8fa;
   border-bottom: 1px solid #e0e0e0;
   cursor: pointer;
   font-weight: 700;
   padding: 10px 15px;
   /*border-radius: 4px 4px 0px 0px;*/
   text-align: center;
}

/*Переопределение свойства библиотеки текстового редактора*/
.descriptive-part__card .tox {
   border: 0;
}

.descriptive-part__body {
   /*padding: 10px;*/
}

.descriptive-part__comments {
   /*display: flex;*/
   display: flex;
   flex-direction: column;
}

.descriptive-part__add.form-button {
   align-self: flex-start;
   margin: 10px;
}

.descriptive-part__comments .comments-table__header {
   border-bottom: 2px solid #93b0d1;
}

.files__checkbox {
   margin: 0 10px 0 0;
}





