.action-info,
.description__card,
.section__indicator {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
}


.action-info {
   padding: 10px 20px;
   margin: 0px 0px 10px;

   font-size: 16px;
}

.description {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   margin: 0px 0px 10px 0px;

}

.description__card {
   margin: 0px 0px 10px 0px;
   border-left: 3px solid #93b0d1;
}

.description__header {
   padding: 10px 15px;
   font-weight: 700;
   text-align: center;
   border-bottom: 1px solid #e0e0e0;
   background-color: #f6f8fa;
   border-radius: 4px 4px 0px 0px;
}

/*Переопределение свойства библиотеки текстового редактора*/
.description__card .tox {
   border: 0;
}

.description__body {
   padding: 10px;
}



































