.statistic {
   margin: 0px 0px 10px 0px;
   /*display: grid;*/
   /*grid-template-rows: 1fr 2fr;*/
   display: flex;
}


.statistic__card {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   overflow: hidden;
   /*width: 25%;*/
   width: 50%;
}
.statistic__card.full,
.statistic__card.full:not(:last-child) {
   margin: 0px 0px 10px 0px;

   width: 100%;
}

.statistic__header {
   padding: 10px;
   background-color: #f6f8fa;
   border-bottom: 2px solid #93b0d1;

   text-align: center;
   font-weight: 700;
}

.statistic__panel-header {
   padding: 10px;
   background-color: #f6f8fa;
   border-bottom: 1px solid #e0e0e0;
   text-align: center;
   font-weight: 700;
}

.statistic__diagram {
   padding: 15px 5px 5px;
}

.statistic__card:not(:last-child) {
   margin: 0px 10px 0px 0px;
}

.panel__body {
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
}

.panel__item {
   flex-grow: 1;
   display: flex;
   align-items: center;
}

.panel__item:not(:first-child) {
   margin: 0px 0px 0px 20px;
}

.panel__item:not(:last-child) {
   border-right: 1px solid #B0BEC5;
   border-right: 1px solid #93b0d1;
   /*border-right: 2px solid #93b0d1;*/
}


.panel__number {
   font-size: 40px;
   margin: 0px 10px 0px 0px;
}

.panel__label {
   font-size: 14px;
   margin: 0px 3px 0px 0px;
}

.diagram__body {
   box-shadow: 0px 5px 5px -7px rgba(0,0,0,0.75);
}

.diagram__body .diagram__col {
   display: grid;
   border-radius: 3px 3px 0px 0px;
   overflow: hidden;
   height: 70px;
}

.diagram__footer .diagram__col {
   text-align: center;
   font-size: 20px;
   padding: 10px 10px 0px;
}

.diagram__body,
.diagram__footer {
   display: flex;
   justify-content: space-around;
}

.diagram__number {
   font-weight: 700;
}

.diagram__label {
   font-size: 14px;
}

.diagram__footer .diagram__col {
   align-items: center;
   flex-direction: column;
   display: flex;
}

.diagram[data-col_width="50"] .diagram__col {
   width: 50px;
}


.diagram[data-col_width="30"] .diagram__col {
   /*width: 30px;*/
   width: 50px;
}

.diagram__row {
   /*width: 50px;*/
   flex-grow: 1;
   background-color: #F6F6F6;
}

.diagram__col[data-color="green"] .diagram__row.filled {
   background-color: #87c596;
}

.diagram__col[data-color="blue"] .diagram__row.filled {
   background-color: #93b0d1;
}

.diagram__col[data-color="red"] .diagram__row.filled {
   background-color: #E28383;
}

.diagram__col[data-color="yellow"] .diagram__row.filled {
   background-color: #FDDD7E;
}

.diagram__col[data-color="purple"] .diagram__row.filled {
   background-color: #C3A3FF;
}

