.statistic {
   display: flex;
   /*display: grid;*/
   /*grid-template-rows: 1fr 2fr;*/
   margin: 0 0 10px 0;
}

.statistic__card {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   overflow: hidden;
   /*width: 25%;*/
   width: 50%;
}

.statistic__card.full,
.statistic__card.full:not(:last-child) {
   margin: 0 0 10px 0;

   width: 100%;
}

.statistic__header {
   background-color: #f6f8fa;
   border-bottom: 2px solid #93b0d1;
   font-weight: 700;

   padding: 10px;
   text-align: center;
}

.statistic__panel-header {
   background-color: #f6f8fa;
   border-bottom: 1px solid #e0e0e0;
   font-weight: 700;
   padding: 10px;
   text-align: center;
}

.statistic__diagram {
   padding: 15px 5px 5px;
}

.statistic__card:not(:last-child) {
   margin: 0 10px 0 0;
}

.panel__body {
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
}

.panel__item {
   align-items: center;
   display: flex;
   flex-grow: 1;
}

.panel__item:not(:first-child) {
   margin: 0 0 0 20px;
}

.panel__item:not(:last-child) {
   border-right: 1px solid #b0bec5;
   border-right: 1px solid #93b0d1;
   /*border-right: 2px solid #93b0d1;*/
}


.panel__number {
   font-size: 40px;
   margin: 0 10px 0 0;
}

.panel__label {
   font-size: 14px;
   margin: 0 3px 0 0;
}

.diagram__body {
   box-shadow: 0 5px 5px -7px rgba(0, 0, 0, 0.75);
}

.diagram__body .diagram__col {
   border-radius: 3px 3px 0 0;
   display: grid;
   height: 70px;
   overflow: hidden;
}

.diagram__footer .diagram__col {
   font-size: 20px;
   padding: 10px 10px 0;
   text-align: center;
}

.diagram__body,
.diagram__footer {
   display: flex;
   justify-content: space-around;
}

.diagram__number {
   font-weight: 700;
}

.diagram__label {
   font-size: 14px;
}

.diagram__footer .diagram__col {
   align-items: center;
   display: flex;
   flex-direction: column;
}

.diagram[data-col_width="50"] .diagram__col {
   width: 50px;
}


.diagram[data-col_width="30"] .diagram__col {
   /*width: 30px;*/
   width: 50px;
}

.diagram__row {
   /*width: 50px;*/
   background-color: #f6f6f6;
   flex-grow: 1;
}

.diagram__col[data-color="green"] .diagram__row.filled {
   background-color: #87c596;
}

.diagram__col[data-color="blue"] .diagram__row.filled {
   background-color: #93b0d1;
}

.diagram__col[data-color="red"] .diagram__row.filled {
   background-color: #e28383;
}

.diagram__col[data-color="yellow"] .diagram__row.filled {
   background-color: #fddd7e;
}

.diagram__col[data-color="purple"] .diagram__row.filled {
   background-color: #c3a3ff;
}

