.view {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   margin: 0px 0px 10px 0px;
   font-size: 16px;
}

.view__header,
.view__subheader,
.expertise-card__body {
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
}

.view__header {
   padding: 10px 10px 10px 20px;
   margin: 0px 0px 10px 0px;

   display: flex;
   /*min-height: 70px;*/
   align-items: center;

}

.view__document {
   margin: 0px 20px 0px 0px;
   font-family: 'Bebas Neue', sans-serif;
   font-size: 20px;
   width: 20%;

}

.view__object {
   width: 80%;
   text-align: center;
}

.view__subheader {
   display: flex;
   padding: 10px 10px 10px 20px;
   margin: 0px 0px 10px 0px;
}

.view__progress {
   width: 70%;
   display: flex;
   align-items: center;
   margin: 0px 15px 0px 0px;

}

.view__line {
   border: 2px solid #87c596;
   flex-grow: 1;
}

.view__line:last-child {
   border-color: #c2c2c2;
}

.view__info {
   display: flex;

   width: 30%;
}

.expertise-card {
   display: flex;
   flex-grow: 1;
}

.expertise-card__body {
   flex-grow: 1;
   min-height: 100%;
}

.view__state {
   display: flex;
   flex-grow: 1;
   justify-content: space-between;
}

.view__label {
   font-size: 14px;
   color: #6e6e6e;
}

.view__icon,
.view__icon-date {
   color: #6e6e6e;
   margin: 0px 7px 0px 0px;
   font-size: 18px;
}

.view__responsible {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.view__info {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
}

.view__text {
   font-weight: 700;
   font-size: 14px;
   /*text-align: center;*/
}

.view__dates-body {
   display: flex;
}

.view__dates {
   display: flex;
   align-items: center;
}

.view__date {
   display: flex;
   /*flex-direction: column;*/
   align-items: center;
   /*margin: 0px 0px 0px 10px*/
}

.view__date:not(:last-child) {
   /*margin: 0px 0px 10px 0px;*/

}

.view__icon-date {
   margin: 0px 10px 0px;

}

.view__stage {
   display: flex;
   align-items: center;
}

.view__stage,
.view__dates,
.view__responsible {
   /*flex-grow: 0.333;*/
}

.view__state {
   display: flex;
   flex-direction: column;
}








