/*.comments-group,*/
.total-cc-card {
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
   margin: 0 0 10px 0;
   overflow: hidden;
}

.view-body {
   align-self: flex-start;
   flex-grow: 1;
}

.card-form__financing {
   border: 1px solid #e0e0e0;
   border-bottom: 0;
   border-radius: 4px;
   margin: 15px;
   overflow: hidden;
}

.view-table__header {
   align-items: center;
   background-color: #f9fbfc;
   border-bottom: 1px solid #b1c6de;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   padding: 10px;
}

.view-table__title {
   margin: 0 10px 0 0;
}

.view-table__icon {
   color: #1c3959;
   margin: 0 10px 0 0;
}

.view-table__row {
   border-bottom: 1px solid #e0e0e0;
   display: flex;
}

.view-table__label {
   border-right: 1px solid #e0e0e0;
   padding: 10px;
   text-align: center;
   width: 25%;
}

.view-table__value {
   padding: 10px;
}

.total-cc-view__card {
}

.comments-group {
   border-radius: 4px;
   /*border: 1px solid #e0e0e0;*/
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
   margin: 15px;
   /*box-shadow: 0px 0 4px rgba(0, 0, 0, 0.15);*/
   overflow: hidden;

}

.comments-group .files__name {
   font-size: 14px;
}

.comments-group .files__icon {
   font-size: 18px;
   margin: 0 7px 0 0;
}

.comments-group .files__info {
   padding: unset;
}

.comments-group .files__info:hover {
   background-color: unset;
}

.comments-group .files__item {
   padding: 5px 12px;
}

.comments-group__file.files {
   border: unset;
}

.total-cc-card__header {

   /*background-color: #f6f8fa;*/
   border-bottom: 2px solid #93b0d1;
   font-weight: 700;
   padding: 10px 20px;

   text-align: center;
}

.comments-group__body {
   /*border-top: 1px solid #e0e0e0;*/

}

.comments-group__header {
   background-color: #f6f8fa;
   border-bottom: 1px solid #e0e0e0;
}

.comments-group__title {
   padding: 10px 15px;
}

.total-cc-card__groups {
   /*border-top: 1px solid #e0e0e0;*/
}

.comments-group__file {
   border-radius: unset;
   /*background-color: #fff;*/
   grid-row: span 2;
}

.total-cc-card__groups .files__info:hover {
   background-color: unset;
}

.comments-group .comments-table__header {
   border-bottom: 1px solid #e0e0e0;
}

















