.view-body {
   flex-grow: 1;
   align-self: flex-start;
}

.card-form__financing {

   margin: 15px;
   overflow: hidden;
   border-radius: 4px;
   border: 1px solid #e0e0e0;
   border-bottom: 0;
}

.card-form__body {
   /*padding: 15px;*/
}

.view-table {
   /*border: 1px solid #e0e0e0;*/
   /*border-bottom: 0;*/
   /*border-top: 0;*/
   /*border-radius: 4px;*/
   /*margin: 0px 10px;*/
   /*border-left: 3px solid #93b0d1;*/
}

.view-table:first-child {
   /*border-top: 1px solid #e0e0e0;*/
   /*border-radius: 4px 4px 0px 0px;*/
}

.view-table__header {
   align-items: center;
   background-color: #F9FBFC;
   /*border-bottom: 1px solid #e0e0e0;*/
   /* border-radius: 4px 4px 0px 0px; */
   display: flex;
   justify-content: space-between;
   padding: 10px;
   /* font-weight: 700; */
   border-bottom: 1px solid #B1C6DE;
   cursor: pointer;
}

/*.view-table:first-child > .view-table__header {
   border-radius: 4px 4px 0px 0px;
}*/

.view-table:first-child:last-child > .view-table__header {
   /*border-radius: 4px;*/
}

.view-table:last-child {
   /*border-radius: 0px 0px 4px 4px;*/
}



.view-table:last-child > .view-table__header {
   /*border-radius: 0px 0px 4px 4px;*/
}


.view-table__body {
   /*border-bottom: 1px solid #e0e0e0;*/
}

.view-table__title {
   /*font-weight: 700;*/
   margin: 0px 10px 0px 0px;
}

.view-table__icon {
   margin: 0px 10px 0px 0px;
   color: #1c3959;
}

.view-table__row {
   display: flex;
   /*padding: 10px;*/
   border-bottom: 1px solid #e0e0e0;

}

/*.view-table__row:not(:last-child) {*/
/*   border-bottom: 1px solid #e0e0e0;*/
/*}*/

.view-table__label {
   /*padding: 0px 10px 0px 0px;*/
   border-right: 1px solid #e0e0e0;
   padding: 10px;
   width: 25%;
   text-align: center;
}

.view-table__value {
   padding: 10px;
}


