.body-card__item {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    cursor: default;
    width: 70%;
}

.body-card__value {
    width: 70%;
}

.body-card__icon {
    align-self: center;
    margin: 0px 8px 0px 0px;
    font-size: 18px;
    color: #db5151;
}

.card-form__icon-state {
    margin: 0px 0px 0px 15px;
    font-size: 20px;
    color: #db5151;
}

.card-form__icon-state.valid {
    color: #87c596;
}

@media (max-width: 1024px) {
    .sidebar-hierarchy,
    .sidebar-actions {
        width: 15%;
    }
}


/*tmp================================*/


.body-card__files {
    /*display: block;*/
    /*padding: 5px;*/
    width: 70%;
    border: 1px solid #cccccc;
    /*border-top: 0px;*/

    border-radius: 4px;
}

.card-form__body.expanded {
    max-height: none;
}


/*tmp================================*/




/*tmp================================*/