.sidebar-hierarchy,
.sidebar-actions {
    align-self: flex-start;
    margin: 0px 10px 0px 0px;

    width: 22%;
    min-width: 200px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #343a40;

    border-radius: 4px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}


.sidebar-actions {
    /*margin: 0px 0px 0px 10px;*/
}

.sidebar-hierarchy__section,
.sidebar-actions__section {
    /*border: 1px solid #8e8e8e;*/
    /*border-radius: 4px;*/
}

.sidebar-hierarchy__item,
.sidebar-actions__item {
    /*padding: 10px;*/
    cursor: pointer;
}

.sidebar-hierarchy__item:hover,
.sidebar-actions__item:hover {
    background-color: #f2f2f2;
    /*border-color: #ffd354;*/
}

.sidebar-hierarchy__section {
    /*min-height: 50px;*/
}





.sidebar-hierarchy__item {
    display: flex;
}

.sidebar-hierarchy__icon {
    margin: 0px 10px 0px 5px;
    font-size: 18px;
}

.body-card__item {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #343a40;
    cursor: default;
    width: 70%;
}

.body-card__value {
    width: 70%;
}

.body-card__icon {
    align-self: center;
    margin: 0px 8px 0px 0px;
    font-size: 18px;
    color: #db5151;
}

.card-form__icon-state {
    margin: 0px 0px 0px 15px;
    font-size: 20px;
    color: #db5151;
}

.card-form__icon-state.valid {
    color: #87c596;
}

@media (max-width: 1024px) {
    .sidebar-hierarchy,
    .sidebar-actions {
        width: 15%;
    }
}

/*tmp================================*/
a.sidebar-actions__section {
   color: #343a40;
}

/*.sidebar-hierarchy__item {
    border-left: 4px solid #ffffff;
    padding: 10px;
}

.sidebar-hierarchy__item.expanded {
    border-color: #ffd354;
}*/

.sidebar-hierarchy__section {
    border-left: 4px solid #ffffff;

    padding: 10px;
}

.sidebar-hierarchy__section.expanded {
    border-color: #ffd354;
}

.sidebar-hierarchy__item[data-level='1'] {
    /*padding: 10px 10px 10px 20px;*/
}

/*tmp================================*/